@functions {
    // To support the layout classifaction below. Implementing as a razor function because we can, could otherwise be a Func<string[], string, string> in the code block following.
    string CalcuClassify(string[] zoneNames, string classNamePrefix)
    {
        var zoneCounter = 0;
        var zoneNumsFilled = string.Join("", zoneNames.Select(zoneName => { ++zoneCounter; return Model[zoneName] != null ? zoneCounter.ToString() : ""; }).ToArray());
        return HasText(zoneNumsFilled) ? classNamePrefix + zoneNumsFilled : "";
    }
}
@{  
    /* Global includes for the theme
    ***************************************************************/
    Style.Include("http://fonts.googleapis.com/css?family=Lobster&subset=latin");
    Style.Include("site.css");
    Style.Include("hrp_bsc_html_css.css");
    Style.Include("login.css");
    Style.Include("jquery.autocomplete.css");
    Style.Include("jquery.ui.autocomplete.css");
    Style.Include("jquery.fileupload-ui.css");
 
    Script.Require(Url.Content("jQuery")).AtHead();
    Script.Require(Url.Content("Chosen")).AtHead();
    Script.Require(Url.Content("JTemplate")).AtHead();
    Script.Require(Url.Content("JSon")).AtHead();
    Script.Require(Url.Content("JQuery_EasyPaginate")).AtHead();
    //Script.Require(Url.Content("JQuery_StickyBar")).AtHead();
    Script.Require(Url.Content("JQuery_FlexCroll")).AtHead();
    Script.Require(Url.Content("JQuery_HoverIntent")).AtHead();
    Script.Require(Url.Content("JQuery_AsmSelect")).AtHead();
    Script.Require(Url.Content("JQuery_Easing")).AtHead();
    Script.Require(Url.Content("JQuery_FancyBox")).AtHead();
    Script.Require(Url.Content("JQuery_FloatingMessage")).AtHead();
    Script.Require(Url.Content("JQuery_JqEasyPanel")).AtHead();
    Script.Require(Url.Content("JQuery_MouseWheel")).AtHead();
    //Script.Require(Url.Content("JQuery_MultiSelect")).AtHead();
    Script.Require(Url.Content("JQuery_Tabify")).AtHead();
    Script.Require(Url.Content("JQuery_Uniform")).AtHead();
    Script.Require(Url.Content("JQuery_Vegas")).AtHead();
    Script.Require(Url.Content("JQuery_Prettify")).AtHead();
    Script.Require(Url.Content("JQuery_Flash")).AtHead();
    Script.Require(Url.Content("JQuery_MaskedInput")).AtHead();
    Script.Require(Url.Content("JQuery_PrintElement")).AtHead();
    Script.Require(Url.Content("jQuery_Validate")).AtHead();
    //Script.Require(Url.Content("WebshopModel")).AtHead();
    //Script.Require(Url.Content("CatalogueService")).AtHead();
    Script.Require(Url.Content("CustomerService")).AtHead();
    Script.Require(Url.Content("CustomerModel")).AtHead();
    Script.Require(Url.Content("RegistrationModel")).AtHead();
    Script.Require(Url.Content("jQuery_UICore")).AtHead();
    Script.Require(Url.Content("jQuery_UIDatePicker")).AtHead();
    Script.Require(Url.Content("Knockout")).AtHead();
    Script.Require(Url.Content("Constants")).AtHead();
    Script.Require(Url.Content("Requests")).AtHead();
    Script.Require(Url.Content("ShoppingCart")).AtHead();
    Script.Require(Url.Content("Catalogue")).AtHead();
    Script.Require(Url.Content("jQueryUI_Autocomplete")).AtHead();
    Script.Require(Url.Content("FileUpload")).AtHead();    

    /* Some useful shortcuts or settings
    ***************************************************************/

    Func<dynamic, dynamic> Zone = x => Display(x); // Zone as an alias for Display to help make it obvious when we're displaying zones

    /* Layout classification based on filled zones
    ***************************************************************/

    //Add classes to the wrapper div to toggle aside widget zones on and off
    var asideClass = CalcuClassify(new[] { "AsideFirst", "AsideSecond" }, "aside-"); // for aside-1, aside-2 or aside-12 if any of the aside zones are filled
    if (HasText(asideClass))
    {
        Model.Classes.Add(asideClass);
    }

    //Add classes to the wrapper div to toggle tripel widget zones on and off
    var tripelClass = CalcuClassify(new[] { "TripelFirst", "TripelSecond", "TripelThird" }, "tripel-"); // for tripel-1, triple-2, etc. if any of the tripel zones are filled
    if (HasText(tripelClass))
    {
        Model.Classes.Add(tripelClass);
    }

    //Add classes to the wrapper div to toggle quad widget zones on and off
    var footerQuadClass = CalcuClassify(new[] { "FooterQuadFirst", "FooterQuadSecond", "FooterQuadThird", "FooterQuadFourth" }, "split-"); // for quad-1, quad-2, etc. if any of the quad zones are filled
    if (HasText(footerQuadClass))
    {
        Model.Classes.Add(footerQuadClass);
    }

    /* Inserting some ad hoc shapes
    ***************************************************************/

    WorkContext.Layout.Header.Add(New.Branding(), "5"); // Site name and link to the home page
    WorkContext.Layout.Footer.Add(New.BadgeOfHonor(), "5"); // Powered by Orchard
    WorkContext.Layout.Footer.Add(New.User(), "10"); // Login and dashboard links

    /* Last bit of code to prep the layout wrapper
    ***************************************************************/

    Model.Id = "layout-wrapper";
    var tag = Tag(Model, "div"); // using Tag so the layout div gets the classes, id and other attributes added to the Model
}
@tag.StartElement
    @using (Script.Head())
    {
        <script type="text/javascript" language="javascript">

            (function ($) {
                var calcFloat = {
                    get: function (num) {
                        var num = num.toString();
                        if (num.indexOf('.') == -1) return [0, eval(num)];
                        var nn = num.split('.');
                        var po = nn[1].length;
                        var st = nn.join('');
                        var sign = '';
                        if (st.charAt(0) == '-') {
                            st = st.substr(1);
                            sign = '-';
                        }
                        for (var i = 0; i < st.length; ++i) if (st.charAt(0) == '0') st = st.substr(1, st.length);
                        st = sign + st;
                        return [po, eval(st)];
                    },
                    getInt: function (num, figure) {
                        var d = Math.pow(10, figure);
                        var n = this.get(num);
                        var v1 = eval('num * d');
                        var v2 = eval('n[1] * d');
                        if (this.get(v1)[1] == v2) return v1;
                        return (n[0] == 0 ? v1 : eval(v2 + '/Math.pow(10, n[0])'));
                    },
                    sum: function (v1, v2) {
                        var n1 = this.get(v1);
                        var n2 = this.get(v2);
                        var figure = (n1[0] > n2[0] ? n1[0] : n2[0]);
                        v1 = this.getInt(v1, figure);
                        v2 = this.getInt(v2, figure);
                        return eval('v1 + v2') / Math.pow(10, figure);
                    }
                };
                $.extend({
                    spin: {
                        imageBasePath: '@Url.Content("~/Media/images/")',
                        spinBtnImage: 'spin-button.png',
                        spinUpImage: 'spin-up.png',
                        spinDownImage: 'spin-down.png',
                        interval: 1,
                        max: null,
                        min: 1,
                        timeInterval: 500,
                        timeBlink: 200,
                        btnClass: null,
                        btnCss: { cursor: 'pointer', padding: 0, margin: 0, verticalAlign: 'middle' },
                        txtCss: { marginRight: 0, paddingRight: 0 },
                        lock: false,
                        decimal: null,
                        beforeChange: null,
                        changed: null,
                        buttonUp: null,
                        buttonDown: null
                    }
                });
                $.fn.extend({
                    spin: function (o) {
                        return this.each(function () {
                            o = o || {};
                            var opt = {};
                            $.each($.spin, function (k, v) {
                                opt[k] = (typeof o[k] != 'undefined' ? o[k] : v);
                            });

                            var txt = $(this);

                            var spinBtnImage = opt.imageBasePath + opt.spinBtnImage;
                            var btnSpin = new Image();
                            btnSpin.src = spinBtnImage;
                            var spinUpImage = opt.imageBasePath + opt.spinUpImage;
                            var btnSpinUp = new Image();
                            btnSpinUp.src = spinUpImage;
                            var spinDownImage = opt.imageBasePath + opt.spinDownImage;
                            var btnSpinDown = new Image();
                            btnSpinDown.src = spinDownImage;

                            var btn = $(document.createElement('img'));
                            btn.attr('src', spinBtnImage);
                            if (opt.btnClass) btn.addClass(opt.btnClass);
                            if (opt.btnCss) btn.css(opt.btnCss);
                            if (opt.txtCss) txt.css(opt.txtCss);
                            txt.after(btn);
                            if (opt.lock) {
                                txt.focus(function () { txt.blur(); });
                            }

                            function spin(vector) {
                                var val = txt.val();
                                var org_val = val;
                                if (opt.decimal) val = val.replace(opt.decimal, '.');
                                if (!isNaN(val)) {
                                    val = calcFloat.sum(val, vector * opt.interval);
                                    if (opt.min !== null && val < opt.min) val = opt.min;
                                    if (opt.max !== null && val > opt.max) val = opt.max;
                                    if (val != txt.val()) {
                                        if (opt.decimal) val = val.toString().replace('.', opt.decimal);
                                        var ret = ($.isFunction(opt.beforeChange) ? opt.beforeChange.apply(txt, [val, org_val]) : true);
                                        if (ret !== false) {
                                            txt.val(val);
                                            if ($.isFunction(opt.changed)) opt.changed.apply(txt, [val]);
                                            txt.change();
                                            src = (vector > 0 ? spinUpImage : spinDownImage);
                                            btn.attr('src', src);
                                            if (opt.timeBlink < opt.timeInterval)
                                                setTimeout(function () { btn.attr('src', spinBtnImage); }, opt.timeBlink);
                                        }
                                    }
                                }
                                if (vector > 0) {
                                    if ($.isFunction(opt.buttonUp)) opt.buttonUp.apply(txt, [val]);
                                } else {
                                    if ($.isFunction(opt.buttonDown)) opt.buttonDown.apply(txt, [val]);
                                }
                            }

                            btn.mousedown(function (e) {
                                var pos = e.pageY - btn.offset().top;
                                var vector = (btn.height() / 2 > pos ? 1 : -1);
                                (function () {
                                    spin(vector);
                                    var tk = setTimeout(arguments.callee, opt.timeInterval);
                                    $(document).one('mouseup', function () {
                                        clearTimeout(tk); btn.attr('src', spinBtnImage);
                                    });
                                })();
                                return false;
                            });
                        });
                    }
                });
            })(jQuery);

			/*
			{"ErrorMessage":"","Id":"4f9456c36ee0121ebc496c69","CompanyId":"V016818","CompanyName":"Web Holding Kft.","PersonId":"KAPCS05869","PersonName":"Kőházi Ádám","LoggedIn":false,"IsValidLogin":false,
			"Permission":{"IsWebAdministrator":false,"InvoiceInfoEnabled":true,"PriceListDownloadEnabled":true,"CanOrder":true,"RecieveGoods":true},
			"Roles":["InvoiceInfoReader","PriceListReader","CanOrder"],"History":[]}			    
			*/

            $(document).ready(function () {

                CompanyGroupCms.Constants.Instance().setSignInServiceUrl('@Url.Content("~/PartnerInfo/Home/SignIn")');
                CompanyGroupCms.Constants.Instance().setSignOutServiceUrl('@Url.Content("~/PartnerInfo/Home/SignOut")');
                CompanyGroupCms.Constants.Instance().setPartnerInfoServiceUrl('@Url.Content("~/PartnerInfo/Home/")');

                //nem custom module-on vagyunk
                if (CompanyGroupCms.Constants.Instance().isEqualModule('')) {
                    CompanyGroupCms.VisitorInfo.Authorize();
                }
                else {
                    $("#visitorInfoTemplate").tmpl(CompanyGroupCms.Visitor.Instance()).appendTo("#cus_header1");

                    $("#usermenuTemplate").tmpl(CompanyGroupCms.Visitor.Instance()).appendTo("#usermenuContainer");

                    $("#quickmenuTemplate").tmpl(CompanyGroupCms.Visitor.Instance()).appendTo("#quickmenuContainer");
                }

                CompanyGroupCms.VisitorInfo.InitView();

                $("#form_login").validate({
                    submitHandler: function () {
                        CompanyGroupCms.VisitorInfo.SignIn($('#txt_username').val(), $('#txt_password').val(), $('input[name=__RequestVerificationToken]').val());
                        return false;
                    },
                    invalidHandler: function (e, validator) {
                        var errors = validator.numberOfInvalids();
                        if (errors) {
                            var message = errors > 1 ? 'Az űrlap kitöltése nem megfelelő! (' + errors + ' hiba)' : '';
                            $("#login_errors").html(message);
                            $("#login_errors").show();
                        } else {
                            $("#login_errors").hide();
                        }
                    },
                    //errorLabelContainer: $("#login_errors"),
                    rules: {
                        txt_username: {
                            required: true
                        },
                        txt_password: {
                            required: true
                        }
                    },
                    messages: {
                        txt_username: "A felhasználónév kitöltése kötelező!",
                        txt_password: "A jelszó kitöltése kötelező!"
                    }
                });  


                //var visitorInfoViewModel = CompanyGroupCms.VisitorInfoFactory.Create({"ErrorMessage":null,"Id":"4fbb5b656ee012160ca02d65","CompanyId":"V016818","CompanyName":"Web Holding Kft.","PersonId":"KAPCS05869","PersonName":"Kőházi Ádám","LoggedIn":true,"IsValidLogin":true,"Permission":{"IsWebAdministrator":false,"InvoiceInfoEnabled":false,"PriceListDownloadEnabled":false,"CanOrder":true,"RecieveGoods":false},"Roles":["InvoiceInfoReader","PriceListReader","CanOrder"],"History":[]});

                //			    var flags = CompanyGroupCms.CatalogueFactory.CreateFlags(false, false, false, false, false);

                //			    var garanty = CompanyGroupCms.CatalogueFactory.CreateGaranty('pick_up_and_return', '1901.01.01');

                //			    var pictures = [];

                //			    var picture = CompanyGroupCms.CatalogueFactory.CreatePicture('thumbnail.jpg', true, 1000649);

                //			    var productManager = CompanyGroupCms.CatalogueFactory.CreateProductManager('juaqaai@inf.elte.hu', '457', '30 20 36 448', 'Attila Juhasz');

                //			    var stock = CompanyGroupCms.CatalogueFactory.CreateStock(0, 200, 0, 2);

                //			    var line = CompanyGroupCms.ShoppingCartFactory.CreateLine('HUF', 10638, 'bsc', flags, garanty, '452435435645646465fdgdgeg356535', false, 0, 'hu', 'ecs148', pictures, picture, 'p623456', productManager, false, 3, '1900.01.01', stock);


                /*[{"Id":"4fba031e6ee01218d879110f","Name":"test", "Active": false},
                {"Id":"4fba0a0b6ee01216287934d4","Name":"2012.5.21 11:25", "Active": true}];*/

                //                $.each(initialProductList.Items, function(index, product) {

                //                    var stock2 = CompanyGroupCms.CatalogueFactory.CreateStock(product.InnerStock, product.OuterStock, 0, 0);
                //                    var garanty2 = CompanyGroupCms.CatalogueFactory.CreateGaranty(product.GarantyMode, product.GarantyTime);
                //                    var flags2 = CompanyGroupCms.CatalogueFactory.CreateFlags(product.Bargain, product.Discount, product.IsInStock, product.New, product.Special);
                //                    var category1 = CompanyGroupCms.CatalogueFactory.CreateFirstLevelCategory(product.FirstLevelCategory.Id, product.FirstLevelCategory.Name);
                //                    var category2 = CompanyGroupCms.CatalogueFactory.CreateSecondLevelCategory(product.SecondLevelCategory.Id, product.SecondLevelCategory.Name);
                //                    var category3 = CompanyGroupCms.CatalogueFactory.CreateThirdLevelCategory(product.ThirdLevelCategory.Id, product.ThirdLevelCategory.Name);
                //                    var manufacturer = CompanyGroupCms.CatalogueFactory.CreateManufacturer(product.Manufacturer.Id, product.Manufacturer.Name);
                //                    var productManager2 = CompanyGroupCms.CatalogueFactory.CreateProductManager(product.ProductManager.Email, product.ProductManager.Extension, product.ProductManager.Mobile, product.ProductManager.Name);
                //                    var prod = CompanyGroupCms.CatalogueFactory.CreateProduct(product.Currency, product.DataAreaId, product.Description, category1, category2, category3, flags2, garanty2, product.IsInCart, product.IsInStock, product.ItemName, product.ItemState, manufacturer, product.PartNumber, product.PrimaryPicture.RecId, product.Price, product.ProductId, productManager2, product.PurchaseInProgress, product.SequenceNumber, product.ShippingDate, stock2);
                //                    productListViewModel.addProduct(prod);
                //              });

                //console.log(productListViewModel.pageItemList());

                //console.log(AppViewModel.productList.pageItemList());
                //alert(ko.toJSON(shoppingCartViewModel));

                //console.log(AppViewModel.productList.firstPageEnabled());
                //console.log(AppViewModel.productList.nextPageEnabled());
                //AppViewModel.visitorInfo.authorizationData('@Url.Content("~/PartnerInfo/Home/VisitorInfo")');

                //dupla klikk tiltása
                $(document).bind("dblclick", function (event) {
                    //alert("Egyet kattints! Ez weboldal nem a pasziánsz!");
                    event.preventDefault();
                });
                //cus teljes háttérkép eleje
                $.vegas({
                    src: '@Url.Content("~/Media/images/background6.jpg")'
                });

                //cus alsó (ajánlott) termék lapozó eleje
                $('#cus_recommended_prod_content').easyPaginate({
                    step: 4,
                    delay: 300,
                    numeric: true,
                    nextprev: false,
                    auto: false,
                    pause: 5000,
                    clickstop: true,
                    controls: 'pagination',
                    current: 'current'
                });

                //FanyBox felbukkanó ablakok eleje
                $('#loginwin').fancybox({
                    autoDimensions: true,
                    /*width: '40%',
                    height: '60%',*/
                    autoScale: false,
                    transitionIn: 'fade',
                    transitionOut: 'fade'
                    //type : 'iframe'
                });


                $('#import_win').fancybox({
                    transitionIn: 'fade',
                    transitionOut: 'fade'

                });

                $('#basket_save').fancybox({
                    transitionIn: 'fade',
                    transitionOut: 'fade'
                });

                $('#new_site').fancybox({
                    transitionIn: 'fade',
                    transitionOut: 'fade'
                });
                //fenti, lenyíló kosár panel eleje
                //			    $("#active_basket").click(function () {
                //			        $("#basket_panel").slideToggle("fast");
                //			        $(this).toggleClass("active");
                //			        return false;
                //			    });
                //kosár tábla a lenyíló panelben és a továbblépés modulok

                $("#cus_rendeles_feladas").hide();
                $("#feladas_link").show();

                $("#cus_ajanlat_vegfelhasznalo").hide();
                $("#ajanlat_veg_link").show();

                $("#cus_ajanlat_finance").hide();
                $("#ajanlat_finance_link").show();

                $('#feladas_link').click(function () {
                    $("#cus_rendeles_feladas").slideToggle();
                    $("#cus_ajanlat_vegfelhasznalo").hide();
                    $("#cus_ajanlat_finance").hide();
                });

                $('#ajanlat_veg_link').click(function () {
                    $("#cus_ajanlat_vegfelhasznalo").slideToggle();
                    $("#cus_rendeles_feladas").hide();
                    $("#cus_ajanlat_finance").hide();
                });

                $('#ajanlat_finance_link').click(function () {
                    $("#cus_ajanlat_finance").slideToggle();
                    $("#cus_ajanlat_vegfelhasznalo").hide();
                    $("#cus_rendeles_feladas").hide();
                });

                //mindent lenyit/becsuk lista elemek eleje
                $(".toggle_container").show();
                $(".expand_heading").toggle(function () {
                    $(this).addClass("active");
                }, function () {
                    $(this).removeClass("active");
                });
                $(".expand_heading").click(function () {
                    $(this).next(".toggle_container").slideToggle("slow");
                });
                $(".expand_all").toggle(function () {
                    $(this).addClass("expanded");
                }, function () {
                    $(this).removeClass("expanded");
                });
                $(".expand_all").click(function () {
                    $(".toggle_container").slideToggle("slow");
                });
                //alsó kinyíló panel eleje
                var slide = false;
                var height = $('#cus_bottom_panel_on').height();
                $('#bottom_button_open').click(function () {
                    var docHeight = $(document).height();
                    var windowHeight = $(window).height();
                    var scrollPos = '';
                    $('#cus_bottom_panel_on').animate({
                        height: "toggle"
                    }, 600);
                    if (slide == false) {
                        if ($.browser.opera) {//Fix opera double scroll bug by targeting only HTML.
                            $('html').animate({
                                scrollTop: scrollPos + 'px'
                            }, 600);
                        } else {
                            $('html, body').animate({
                                scrollTop: scrollPos + 'px'
                            }, 600);
                        }
                        slide = true;
                    } else {
                        slide = false;
                    }
                });

                //termékadatlap tabjai
                $('.tabs a').click(function () {
                    switch_tabs($(this));
                });
                switch_tabs($('.defaulttab'));
                //tabok vége

                //Lenyíló menük delay beállítása
                $("#navmenu").mouseover(function () {
                    $("ul#navmenu ul li").slideDown("slow");
                    $(this).toggleClass("active");
                    return false;
                });

                $("#navmenu_order").mouseover(function () {
                    $("ul#navmenu_order ul li").slideDown("slow");
                    $(this).toggleClass("active");
                    return false;
                });

                $("#navmenu_o").mouseover(function () {
                    $("ul#navmenu_o li").slideDown("slow");
                    $(this).toggleClass("active");
                    return false;
                });

                $("#usermenu").mouseover(function () {
                    $("ul#usermenu ul li").slideDown("slow");
                    $(this).toggleClass("active");
                    return false;
                });
                //Lenyíló menük delay beállítása vége //////////////////////////////////

                //rendelés feladás logikai kapcsolók eleje /////////////////////////////

                //Fizetési mód kapcsolók ///////////////////////////////////////////////

                //készpénzes fizetés
                $("input[name='radio_fizetesimod']").change(function () {
                    if ($("input[name='radio_fizetesimod']:checked").val() == '1') {
                        $('#raktari_off').hide();
                        $('#kiszallitas_off').show();
                        $('#cim_off').show();
                        $('#idopont_off').show();
                        $('#szallcimadat_off').show();
                        $('#atutalas_off').show();
                        $('#eloreutalas_off').show();
                        $('#utanvet_off').show();
                    }
                });

                //átutalásos fizetés
                $("input[name='radio_fizetesimod']").change(function () {
                    if ($("input[name='radio_fizetesimod']:checked").val() == '2') {
                        $('#raktari_off').hide();
                        $('#kiszallitas_off').hide();
                        $('#keszpenz_off').show();
                        $('#eloreutalas_off').show();
                        $('#utanvet_off').show();
                    }
                });

                //előre utalásos fizetés
                $("input[name='radio_fizetesimod']").change(function () {
                    if ($("input[name='radio_fizetesimod']:checked").val() == '3') {
                        $('#raktari_off').hide();
                        $('#kiszallitas_off').hide();
                        $('#keszpenz_off').show();
                        $('#atutalas_off').show();
                        $('#utanvet_off').show();
                    }
                });

                //utánvét
                $("input[name='radio_fizetesimod']").change(function () {
                    if ($("input[name='radio_fizetesimod']:checked").val() == '4') {
                        $('#raktari_off').show();
                        $('#kiszallitas_off').hide();
                        $('#keszpenz_off').show();
                        $('#eloreutalas_off').show();
                        $('#atutalas_off').show();
                    }
                });

                //Szállítási mód kapcsolók ////////////////////////////////////////////

                //raktári átvétel
                $("input[name='radio_szallitasimod']").change(function () {
                    if ($("input[name='radio_szallitasimod']:checked").val() == '1') {
                        $("#feladas").removeClass("feladasopciok_block");
                        $("#feladas").addClass("feladasopciok_ok");
                        $('.feladasopciok_ok').removeAttr("disabled");
                        $('#szallcimadat_off').show();
                        $('#kiszallitas_off').show();
                        $('#custom_number').removeAttr("disabled");
                        $('#user_comment').removeAttr("disabled");
                    }
                });

                //kiszállítást kér
                $("input[name='radio_szallitasimod']").change(function () {
                    if ($("input[name='radio_szallitasimod']:checked").val() == '2') {
                        $('#szallcimadat_off').hide();
                        $('#szallcimadat').show();
                        $('#raktari_off').show();
                    }
                });

                //reset ///////////////////////////////////////////////////////////////

                $("input[name='nullazo']").click(function () {
                    $('#raktari_off').show();
                    $('#kiszallitas_off').show();
                    $('#cim_off').show();
                    $('#idopont_off').show();
                    $('#szallcimadat_off').show();
                    $('#keszpenz_off').hide();
                    $('#atutalas_off').hide();
                    $('#eloreutalas_off').hide();
                    $('#utanvet_off').hide();
                    $('.feladasopciok_ok').attr("disabled", "disabled");
                    $('#custom_number').attr("disabled", "disabled");
                    $('#user_comment').attr("disabled", "disabled");
                    $("#feladas").addClass("feladasopciok_block");
                });

                $('#top-link').topLink({
                    min: 400,
                    fadeSpeed: 500
                });
                //smoothscroll
                $('#top-link').click(function (e) {
                    e.preventDefault();
                    $.scrollTo(0, 300);
                });

                //szállítási idő naptármodul

                $("#naptar").datepicker({

                    beforeShowDay: $.datepicker.noWeekends,
                    minDate: +1,
                    maxDate: "+1W +1D",
                    defaultDate: +1,
                    dateFormat: 'yy-mm-dd',
                    constrainInput: true,
                    //appendText: '(év-hónap-nap)',
                    dayNames: ['Vasárnap', 'Hétfő', 'Kedd', 'Szerda', 'Csütörtök', 'Péntek', 'Szombat'],
                    dayNamesMin: ['V', 'H', 'K', 'Sz', 'Cs', 'P', 'Sz'],
                    firstDay: 1,
                    monthNames: ['Jan', 'Feb', 'Már', 'Ápr', 'Máj', 'Jún', 'Júl', 'Aug', 'Szep', 'Okt', 'Nov', 'Dec'],
                    prevText: '<strong><|</strong>',
                    nextText: '<strong>|></strong>'

                });

                //számlainfo napttár modulok
                
                //nyitó
                
                $("#naptar_kezd").datepicker({

                    beforeShowDay: $.datepicker.noWeekends,
                    //minDate: +1,
                    //maxDate: "+1W +1D",
                    //defaultDate: +1,
                    dateFormat: 'yy-mm-dd',
                    constrainInput: true,
                    //appendText: '(év-hónap-nap)',
                    dayNames: ['Vasárnap', 'Hétfő', 'Kedd', 'Szerda', 'Csütörtök', 'Péntek', 'Szombat'],
                    dayNamesMin: ['V', 'H', 'K', 'Sz', 'Cs', 'P', 'Sz'],
                    firstDay: 1,
                    monthNames: ['Jan', 'Feb', 'Már', 'Ápr', 'Máj', 'Jún', 'Júl', 'Aug', 'Szep', 'Okt', 'Nov', 'Dec'],
                    prevText: '<strong><|</strong>',
                    nextText: '<strong>|></strong>'

                });
                
                //záró
                
                $("#naptar_zar").datepicker({

                    beforeShowDay: $.datepicker.noWeekends,
                    //minDate: +1,
                    //maxDate: "+1W +1D",
                    //defaultDate: +1,
                    dateFormat: 'yy-mm-dd',
                    constrainInput: true,
                    //appendText: '(év-hónap-nap)',
                    dayNames: ['Vasárnap', 'Hétfő', 'Kedd', 'Szerda', 'Csütörtök', 'Péntek', 'Szombat'],
                    dayNamesMin: ['V', 'H', 'K', 'Sz', 'Cs', 'P', 'Sz'],
                    firstDay: 1,
                    monthNames: ['Jan', 'Feb', 'Már', 'Ápr', 'Máj', 'Jún', 'Júl', 'Aug', 'Szep', 'Okt', 'Nov', 'Dec'],
                    prevText: '<strong><|</strong>',
                    nextText: '<strong>|></strong>'

                });
                //megrendelések naptár modulok
                
                //nyitó
                
                $("#naptar_kezd_rend").datepicker({

                    beforeShowDay: $.datepicker.noWeekends,
                    //minDate: +1,
                    //maxDate: "+1W +1D",
                    //defaultDate: +1,
                    dateFormat: 'yy-mm-dd',
                    constrainInput: true,
                    //appendText: '(év-hónap-nap)',
                    dayNames: ['Vasárnap', 'Hétfő', 'Kedd', 'Szerda', 'Csütörtök', 'Péntek', 'Szombat'],
                    dayNamesMin: ['V', 'H', 'K', 'Sz', 'Cs', 'P', 'Sz'],
                    firstDay: 1,
                    monthNames: ['Jan', 'Feb', 'Már', 'Ápr', 'Máj', 'Jún', 'Júl', 'Aug', 'Szep', 'Okt', 'Nov', 'Dec'],
                    prevText: '<strong><|</strong>',
                    nextText: '<strong>|></strong>'

                });
                
                //záró
                
                $("#naptar_zar_rend").datepicker({

                    beforeShowDay: $.datepicker.noWeekends,
                    //minDate: +1,
                    //maxDate: "+1W +1D",
                    //defaultDate: +1,
                    dateFormat: 'yy-mm-dd',
                    constrainInput: true,
                    //appendText: '(év-hónap-nap)',
                    dayNames: ['Vasárnap', 'Hétfő', 'Kedd', 'Szerda', 'Csütörtök', 'Péntek', 'Szombat'],
                    dayNamesMin: ['V', 'H', 'K', 'Sz', 'Cs', 'P', 'Sz'],
                    firstDay: 1,
                    monthNames: ['Jan', 'Feb', 'Már', 'Ápr', 'Máj', 'Jún', 'Júl', 'Aug', 'Szep', 'Okt', 'Nov', 'Dec'],
                    prevText: '<strong><|</strong>',
                    nextText: '<strong>|></strong>'

                });
                //Kézi dátumozás tiltása

                $("input[name='naptar']").keypress(function (e) {
                    var keycode = e.keyCode ? e.keyCode : e.which;

                    if (keycode == 8) { // backspace
                        // do somethiing
                        $("input[name='naptar']").val("Kattintson ide");
                    }

                    if (keycode == 46) { // delete
                        // do somethiing
                        alert(keycode);
                    }

                });

                //Feladás gomb aktiválás dátum választás után

                $("input[name='naptar']").change(function () {
                    if ($("input[name='naptar']").val() != 'Kattintson ide') {
                        $("#feladas").removeClass("feladasopciok_block");
                        $("#feladas").addClass("feladasopciok_ok");
                        $('.feladasopciok_ok').removeAttr("disabled");
                        $('#custom_number').removeAttr("disabled");
                        $('#user_comment').removeAttr("disabled");
                    }
                });

                //// Véletlen szám és elő + utótag az importált kosarakhoz ////

                function randomnumber() {

                    var currentDate = new Date()
                    var day = currentDate.getDate()
                    var month = ('0' + (currentDate.getMonth() + 1)).slice(-2)
                    var year = currentDate.getFullYear()

                    document.basketlist_import.import_basket_name.value = ('Importált kosár - ' + Math.round(Math.random() * 99999 + 1) + ' - ' + year + "." + month + "." + day + ".");
                }

                onload = randomnumber

                $('#preloader').ajaxStart(function () {
                    $('#preloader').show();
                }).ajaxStop(function () {
                    $('#preloader').hide();
                });

                //                $("#anchor_signout").click(function () {
                //                    AppViewModel.visitorInfo.signOut();
                //                });
//                $("#form_login").validate({
//                    submitHandler: function () {
//                        //CompanyGroupCms.Services.CustomerService.Instance().SignIn($('#txt_username').val(), $('#txt_password').val(), $('input[name=__RequestVerificationToken]').val(), '@Url.Content("~/PartnerInfo/Home/SignIn")');
//                        CompanyGroupCms.VisitorInfo.SignIn($('#txt_username').val(), $('#txt_password').val(), $('input[name=__RequestVerificationToken]').val());
//                        return false;
//                    },
//                    invalidHandler: function (e, validator) {
//                        var errors = validator.numberOfInvalids();
//                        if (errors) {
//                            var message = errors > 1 ? 'Az űrlap kitöltése nem megfelelő! (' + errors + ' hiba)' : '';
//                            $("#login_errors").html(message);
//                            $("#login_errors").show();
//                        } else {
//                            $("#login_errors").hide();
//                        }
//                    },
//                    //errorLabelContainer: $("#login_errors"),
//                    rules: {
//                        txt_username: {
//                            required: true
//                        },
//                        txt_password: {
//                            required: true
//                        }
//                    },
//                    messages: {
//                        txt_username: "A felhasználónév kitöltése kötelező!",
//                        txt_password: "A jelszó kitöltése kötelező!"
//                    }
//                });

                //                $(".form").validate({
                //                    submitHandler: function () {

                //                        return false;
                //                    },
                //                    invalidHandler: function (e, validator) {
                //                        var errors = validator.numberOfInvalids();
                //                        if (errors) {
                //                            var message = errors > 1 ? 'Az űrlap kitöltése nem megfelelő! (' + errors + ' hiba)' : '';
                //                            //$("#login_errors").html(message);
                //                            //$("#login_errors").show();
                //                        } else {
                //                            //$("#login_errors").hide();
                //                        }
                //                    },
                //                    //errorLabelContainer: $("#login_errors"),
                //                    rules: {
                //                        txt_qty: {
                //                            required: true
                //                        }
                //                    },
                //                    messages: {
                //                        txt_qty: "A mező kitöltése kötelező!"
                //                    }
                //                });

                $("#form_savecart").validate({
                    submitHandler: function () {
                        CompanyGroupCms.ShoppingCart.SaveCart($('#txt_cartname').val());
                        return false;
                    },
                    invalidHandler: function (e, validator) {
                        var errors = validator.numberOfInvalids();
                        if (errors) {
                            var message = errors > 1 ? 'Az űrlap kitöltése nem megfelelő! (' + errors + ' hiba)' : '';
                            $("#savecart_errors").html(message);
                            $("#savecart_errors").show();
                        } else {
                            $("#savecart_errors").hide();
                        }
                    },
                    //errorLabelContainer: $("#login_errors"),
                    rules: {
                        txt_cartname: {
                            required: true
                        }
                    },
                    messages: {
                        txt_cartname: "A kosár nevének kitöltése kötelező!"
                    }
                });

                $("#form_searchByTextFilter").validate({
                    submitHandler: function () {
                        CompanyGroupCms.Catalogue.SearchByTextFilter($('#txt_globalsearch').val());
                        return false;
                    },
                    invalidHandler: function (e, validator) {
                        var errors = validator.numberOfInvalids();
                        if (errors) {
                            var message = errors > 1 ? 'Az űrlap kitöltése nem megfelelő! (' + errors + ' hiba)' : '';
                            $("#globalsearch_errors").html(message);
                            $("#globalsearch_errors").show();
                        } else {
                            $("#globalsearch_errors").hide();
                        }
                    },
                    //errorLabelContainer: $("#login_errors"),
                    rules: {
                        txt_globalsearch: {
                            required: true
                        }
                    },
                    messages: {
                        txt_globalsearch: "A keresendő kifejezés megadása kötelező!"
                    }
                });

            });

			function switch_tabs(obj) {
			    $('.tab-content').hide();
			    $('.tabs a').removeClass("selected");
			    var id = obj.attr("rel");
			    $('#' + id).show();
			    obj.addClass("selected");
			}

			function refreshContent(value) {
				AppViewModel.productList.loadCatalogueList();
				if(value) {
					$('#span_visitorinfo_inner').show();
					$('#span_visitorinfo_outer').hide();
					$('#loginwin').hide();
					$('#anchor_signout').show();
				} else {
					$('#span_visitorinfo_inner').hide();
					$('#span_visitorinfo_outer').show();
					$('#loginwin').show();
					$('#anchor_signout').hide();
				}
			}
		</script>
        /*
 * SmartTab plugin v0.99
 
 */
        <script type="text/javascript" language="javascript">
(function($){
    $.fn.smartTab = function(options) {
        var options = $.extend({}, $.fn.smartTab.defaults, options);

        return this.each(function() {
                obj = $(this);
                var curTabIdx = options.selected; // Set the current tab index to default tab
                var tabs = $("ul > li > a", obj); // Get all anchors in this array
                      var autoProgressId = null;
                // adjust effect string
                options.transitionEffect = (typeof(options.transitionEffect)=='string' && options.transitionEffect!='') ? options.transitionEffect : 'none';

                $(obj).addClass(options.tabContainerClass); // Set the CSS on top element              

                hideAllSteps(); // Hide all content on the first load
                
                  showTab();
                  
                $(tabs).bind("click", function(e){
                    if(tabs.index(this)==curTabIdx)
                      return false;
                    var prevTabIdx = curTabIdx;
                    curTabIdx = tabs.index(this);
                    hideTab(prevTabIdx);
                    if(options.autoProgress){
                      restartAutoProgress();
                    }
                    return false;
                });
                
                if(options.keyNavigation){
                    $(document).keyup(function(e){
                        if(e.which==39){ // Right Arrow
                          doForwardProgress();
                          if(options.autoProgress){
                            restartAutoProgress();
                          }
                        }else if(e.which==37){ // Left Arrow
                          doBackwardProgress();
                          if(options.autoProgress){
                            restartAutoProgress();
                          }
                        }
                    });
                }
                if(options.autoProgress){
                    startAutoProgress();
                }
                if(options.autoProgress && options.stopOnFocus){
                  $(obj).bind("mouseenter mousemove mouseover", function(e){
                      stopAutoProgress();
                      return true;
                  });
                  $(obj).bind("mouseleave", function(e){
                      startAutoProgress();
                      return true;
                  });
                }
                function hideAllSteps(){
                    $(tabs, obj).each(function(){
                        $($(this, obj).attr("href"), obj).hide();//slideUp("fast");.fadeOut()
                  });
                }
                function showTab(){
                    var selTab = tabs.eq(curTabIdx); 
                    $(tabs, obj).removeClass("sel");
                    $($(selTab, obj), obj).addClass("sel");
                    if(options.transitionEffect == 'slide'){
                      $($(selTab, obj).attr("href"), obj).slideDown("slow");//slideDown("slow");.fadeIn()
                    } else if(options.transitionEffect == 'fade'){
                      $($(selTab, obj).attr("href"), obj).fadeIn("slow");//slideDown("slow");.fadeIn()
                    } else{
                      $($(selTab, obj).attr("href"), obj).show();
                    }
                    return true;
                }
                function hideTab(idx){
                    var selTab = tabs.eq(idx);
                    if(options.transitionEffect == 'slide'){
                      $($(selTab, obj).attr("href"), obj).slideUp("slow",showTab);//slideDown("slow");.fadeIn()
                    } else if(options.transitionEffect == 'fade'){
                      $($(selTab, obj).attr("href"), obj).fadeOut("slow",showTab);
                    } else{
                      $($(selTab, obj).attr("href"), obj).hide();
                      showTab();
                    }
                    return true;
                }
                // Auto progress
                function startAutoProgress(){
                  if(!autoProgressId){
                    autoProgressId = setInterval(doForwardProgress, options.progressInterval);
                  }
                }
                function restartAutoProgress(){
                    stopAutoProgress();
                    startAutoProgress();
                }
                function stopAutoProgress(){
                  if(autoProgressId){
                    clearInterval(autoProgressId);
                    autoProgressId = null;
                  }
                }
                function doForwardProgress(){
                  var nextTabIdx = curTabIdx+1;
                  var prevTabIdx = curTabIdx;
                  if(tabs.length <= nextTabIdx){
                    nextTabIdx = 0;
                  }
                  curTabIdx = nextTabIdx;
                  hideTab(prevTabIdx);
                }
                function doBackwardProgress(){
                  var nextTabIdx = curTabIdx-1;
                  var prevTabIdx = curTabIdx;
                  if(0 > nextTabIdx){
                    nextTabIdx = tabs.length-1;
                  }
                  curTabIdx = nextTabIdx;
                  hideTab(prevTabIdx);
                }
        });  
    };  
 
    // Defaults jQuery(this).animate({width: 'show'}); jQuery(this).animate({width: 'hide'});
    $.fn.smartTab.defaults = {
          selected: 0,  // Selected Tab, 0 = first step   
          keyNavigation:false, // Enable/Disable key navigation(left and right keys are used if enabled)
          autoProgress:false, // Auto navigate tabs on interval
          progressInterval: 3500, // Auto navigate Interval (used only if "autoProgress" is set to true)
          stopOnFocus:false,
          transitionEffect:'false', // Effect on navigation, none/fade/slide
          tabContainerClass:'stContainer' // tab container css class name
    };

})(jQuery);
		</script>
		<script type="text/javascript">   
            $(document).ready(function(){
            // Smart Tab
            $('#tabs').smartTab({autoProgress:false,transitionEffect:'false'});
             // $('.tabs').smartTab({autoProgress:false,transitionEffect:'fade'});
        });
        </script>
    }

		@if (Model.Header != null)
  {
		<header id="layout-header" class="group">
			
			<div id="header">
				@Zone(Model.Header)
			</div>
		</header>
  } <!-- *** alsó felnyíló panel div *** -->
		<div id="bottom_button_open">
			<div id="cus_bottom_content_on">
				<div id="openclose_button"><img src="@Url.Content("~/Media/images/openclose.png")" alt=""/>
				</div>
				<table align="center" width="970" border="0" cellspacing="1" cellpadding="2">
					<tr>
						<td width="290" nowrap="nowrap" ><strong>###<span style="color:#900;">###</span></strong></td>
						<td width="290" nowrap="nowrap" ><strong>###</strong></td>
						<td width="290" nowrap="nowrap" ><strong>###</strong></td>
					</tr>
				</table>
			</div>
		</div>
		<div id="cus_bottom_panel_on">
			<div id="cus_bottom_content_on">
				<table align="center" width="970" border="0" cellspacing="1" cellpadding="2">
					<tr>
						<td nowrap="nowrap"><strong>###<span style="color:#900;">###</span></strong></td>
						<td nowrap="nowrap"><strong>###</strong></td>
						<td nowrap="nowrap"><strong>###</strong></td>
					</tr>
					<tr>
						<td colspan="3">
						<hr style="color:#ccc; background:#ccc; height:1px; border:0;" />
						</td>
					</tr>
					<tr>
						<td valign="top"><!-- kosár lista táblázat -->
						<div id="cus_bottom_list_table">
							<table width="290" border="0" cellspacing="1" cellpadding="2">
								<tr>
									<td nowrap="nowrap">###</td>
									<td nowrap="nowrap">###</td>
									<td align="right" nowrap="nowrap">###</td>
								</tr>
								<tr>
									<td nowrap="nowrap">###</td>
									<td nowrap="nowrap">###</td>
									<td align="right" nowrap="nowrap">###</td>
								</tr>
							</table>
							<table width="290" border="0" cellspacing="1" cellpadding="2">
								<tr>
									<td nowrap="nowrap">
									<hr style="color:#ccc; background:#ccc; height:1px; border:0;" />
									</td>
								</tr>
								<tr>
									<td nowrap="nowrap"> ### | ### </td>
								</tr>
							</table>
						</div><!-- kosár lista táblázat vége --></td>
						<td valign="top"><!-- összehasonlító lista táblázat -->
						<div id="cus_bottom_list_table">
							<table width="290" border="0" cellspacing="1" cellpadding="2">
								<tr>
									<td nowrap="nowrap">###</td>
								</tr>
								<tr>
									<td nowrap="nowrap">###</td>
								</tr>
							</table>
						</div><!-- összehasonlító lista táblázat vége --></td>
						<td valign="top"><!-- előzmények lista táblázat -->
						<div id="cus_bottom_list_table">
							<table align="left" width="290" border="0" cellspacing="1" cellpadding="2">
								<tr>
									<td nowrap="nowrap">###</td>
								</tr>
								<tr>
									<td nowrap="nowrap">###</td>
								</tr>
							</table>
						</div><!-- előzmények lista táblázat vége --></td>
					</tr>
				</table>
			</div>
		</div>
		<!-- *** alsó felnyíló panel div vége *** -->
		<div id="cus_header1">
		</div>

        <script id="visitorInfoTemplate" type="text/x-jquery-tmpl">
			<table id="cus_header1_table" width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
				<tr>
					<td width="100%">
                    {{if CompanyGroupCms.Visitor.Instance().IsValidLogin()}}
                        <span>Bejelentkezve:</span> 
                        <strong><span>${CompanyGroupCms.Visitor.Instance().CompanyName()}</span> <span>${CompanyGroupCms.Visitor.Instance().PersonName()}</span></strong>
                        <span>Képviselő:</span>
                        <strong><span>${CompanyGroupCms.Visitor.Instance().RepresentativeName()}</span></strong> 
                        <a href="mailto:${CompanyGroupCms.Visitor.Instance().RepresentativeEmail()}">${CompanyGroupCms.Visitor.Instance().RepresentativeEmail()}</a>
                        <strong><span>${CompanyGroupCms.Visitor.Instance().RepresentativePhone()}</span></strong>
                        <a id="anchor_signout" href="javascript:void(0)" onclick="CompanyGroupCms.VisitorInfo.SignOut();"><strong>&nbsp;|&nbsp;Kijelentkezés</strong></a>
                    {{else}}
                        <img src="@Url.Content("~/Media/images/login.png")" align="absmiddle" style="margin-right: 5px;" alt="" /><a id="loginwin555" href="javascript:void(0)" onclick="CompanyGroupCms.VisitorInfo.ShowSignInPanel()"><strong>Bejelentkezés </strong></a>
                    {{/if}}
                    </td>
					<td nowrap="nowrap">&nbsp;</td>
					<td nowrap="nowrap">Nyelv&nbsp;</td>
					<td nowrap="nowrap"><strong><a href="javascript:void(0)" onclick="CompanyGroupCms.VisitorInfo.ChangeLanguage()"><span id="inverse_language_id" style="background: #900; padding: 2px; margin-right: 10px;">${CompanyGroupCms.Visitor.Instance().InverseLanguageId()}</span></a></strong>
                                        {{if CompanyGroupCms.Visitor.Instance().IsValidLogin()}}
                                        Pénznem <strong><a href="javascript:void(0)" onclick="CompanyGroupCms.VisitorInfo.ChangeCurrency('HUF')"><span id="currency_huf" style="background: #666; padding: 2px; margin-right: 2px;">HUF</span></a></strong><strong><a href="javascript:void(0)" onclick="CompanyGroupCms.VisitorInfo.ChangeCurrency('EUR')"><span id="currency_eur" style="background: #666; padding: 2px; margin-right: 2px;">EUR</span></a></strong><strong><a href="javascript:void(0)" onclick="CompanyGroupCms.VisitorInfo.ChangeCurrency('USD')"><span id="currency_usd" style="background: #666; padding: 2px;">USD</span></a></strong>
                                        {{/if}}
                    </td>
				</tr>
			</table>
        </script>

		<!-- </div>  --><div id="cus_header2"></div>
		<div id="cus_content_container">
			<div id="cus_header_navigation_b">
				<table width="100%" border="0" cellspacing="1" cellpadding="5">
					<tr id="cus_header_navigation_b_table">
						<td nowrap="nowrap" id="quickmenuContainer"></td>
                        <script id="quickmenuTemplate" type="text/x-jquery-tmpl">
						<ul id="navmenu">
							<li>
								<div id="cus_speedmenu_text">
									Gyorsmenü
								</div>
								<ul>
                                    {{if CompanyGroupCms.Visitor.Instance().IsValidLogin()}}
									<li>
										<a href="javascript:void(0)" onclick="CompanyGroupCms.Catalogue.FilterByStock(true)">Készleten lévő termékek </a>
									</li>
									<li>
										<a href="javascript:void(0)" onclick="CompanyGroupCms.Catalogue.FilterByAction(true)"><strong>AKCIÓS TERMÉKEK</strong></a>
									</li>
									<li>
										<a href="javascript:void(0)" onclick="CompanyGroupCms.Catalogue.FilterByBargain(true)"><strong>BÖRZÉS TERMÉKEK</strong></a>
									</li>
									<li>
										<a href="javascript:void(0)" onclick="CompanyGroupCms.Catalogue.FilterByNew(true)"><strong>Új TERMÉKEK</strong></a>
									</li>
                                    {{/if}}
									<li>
										<a href="javascript:void(0)" onclick="CompanyGroupCms.Catalogue.FilterByHrp()">HRP termékek +</a>
										<ul>
											<li>
												<a href="javascript:void(0)" onclick="CompanyGroupCms.Catalogue.FilterByCategoryHrp('B001')">Asztali gépek</a>
											</li>
											<li>
												<a href="javascript:void(0)" onclick="CompanyGroupCms.Catalogue.FilterByCategoryHrp('B011')">Notebookok</a>
											</li>
											<li>
												<a href="javascript:void(0)" onclick="CompanyGroupCms.Catalogue.FilterByCategoryHrp('B008')">Monitorok</a>
											</li>
											<li>
												<a href="javascript:void(0)" onclick="CompanyGroupCms.Catalogue.FilterByCategoryHrp('B012')">Nyomtatók</a>
											</li>
											<li>
												<a href="javascript:void(0)" onclick="CompanyGroupCms.Catalogue.FilterByCategoryHrp('C267')">Kiegészítők</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="javascript:void(0)" onclick="CompanyGroupCms.Catalogue.FilterByBsc()">BSC termékek +</a>
										<ul>
											<li>
												<a href="javascript:void(0)" onclick="CompanyGroupCms.Catalogue.FilterByCategoryBsc('B019')">Szoftverek</a>
											</li>
											<li>
												<a href="javascript:void(0)" onclick="CompanyGroupCms.Catalogue.FilterByCategoryBsc('C077')">Játékvezérlők</a>
											</li>
											<li>
												<a href="javascript:void(0)" onclick="CompanyGroupCms.Catalogue.FilterByCategoryBsc('C267')">Kiegészítők</a>
											</li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
                        </script>
                        
						<td nowrap="nowrap" id="usermenuContainer">
						</td>
                        <script id="usermenuTemplate" type="text/x-jquery-tmpl">
                        {{if CompanyGroupCms.Visitor.Instance().IsValidLogin()}}
                        <ul id="usermenu">
							<li>
								<div id="cus_usermenu_text">
									Adatkezelő
								</div>
								<ul>
									<li>
										<a href="@Url.Content("~/PartnerInfo/Home/")">Adatlap / módosítás</a>
									</li>
									<li>
										<a href="@Url.Content("~/PartnerInfo/Home/")">Számlák</a>
									</li>
									<li>
										<a href="@Url.Content("~/PartnerInfo/Home/")">Megrendelések</a>
									</li>
									<li>
										<a href="@Url.Content("~/PartnerInfo/Home/")">Jelszó módosítás</a>
									</li>
								</ul>
							</li>
						</ul>
                        {{/if}}
                        </script>
						<td width="100%" nowrap="nowrap">&nbsp;</td>
						<td align="right" nowrap="nowrap"></td>
						<td width="50%" align="right" nowrap="nowrap"><!-- *** gyorskereső ajánlóval *** -->
                        @using (Html.BeginFormAntiForgeryPost(Url.Action(Url.Content("~/Webshop/Catalogue")), System.Web.Mvc.FormMethod.Post, new { id = "form_searchByTextFilter" }))
                        {
                        <label class="error" for="txt_globalsearch" generated="true" style="display:none; color:#900;">A mező kitöltése kötelező</label>
						<input type="text" class="ui-autocomplete-input" id="txt_globalsearch" size="19" onfocus="if(this.value=='Keresés a termékek között')this.value=''" onblur="if(this.value=='')this.value='Keresés a termékek között'"/>
                        }</td>@*watermarkedsearch value="Keresés a termékek között" *@
					</tr>
				</table>
			</div>
			<div id="cus_logo_and_pages_menu"><img src="@Url.Content("~/Media/images/hrp_bsc_logo.png")" alt="" />
		    <div id="akcio_badge"><a href="#"><img src="@Url.Content("~/Media/images/akcio_badge.png")" border="0" alt="" /></a></div>
				
				<a href="#top" id="top-link">Top of Page</a>

				<!-- @if (Model.Navigation != null)
         {
				@Zone(Model.Navigation)
         } -->
				<!-- *** ide jön az axaptás menü *** -->
				<div id="cus_ax_nav">
					<ul id="navmenu_o">
						<li>
							<a href="@Url.Content("~/Webshop/Catalogue")">WEBÁRUHÁZ</a>
						</li>
						<li>
							<a href="@Url.Content("~/akciok")">AKCIÓK</a>
							<ul>
								<!--<li>
									<a href="#">ALMENÜ +</a>
									<ul>
										<li>
											<a href="#">ALMENÜ</a>
										</li>
										<li>
											<a href="#">ALMENÜ</a>
										</li>
										<li>
											<a href="#">ALMENÜ</a>
										</li>
										<li>
											<a href="#">ALMENÜ</a>
										</li>
									</ul>
								</li>-->
								<!-- <li>
									<a href="#">ALMENÜ</a>
								</li>
								<li>
									<a href="#">ALMENÜ</a>
								</li> -->
								<!-- menubanner -->
								<li>
									<a href="#"><img src="@Url.Content("~/Media/images/menubanner.png")" width="144px" border="0" vspace="4" alt="" /></a>
								</li>
								<!-- ********** -->
							</ul>
						</li>
						<li>
							<a href="@Url.Content("~/ceginformaciok")">CÉGINFORMÁCIÓ</a>
							<ul>
								<!-- <li>
									<a href="#">ALMENÜ +</a>
									<ul>
										<li>
											<a href="#">ALMENÜ</a>
										</li>
										<li>
											<a href="#">ALMENÜ</a>
										</li>
										<li>
											<a href="#">ALMENÜ</a>
										</li>
										<li>
											<a href="#">ALMENÜ</a>
										</li>
										<li>
											<a href="#">ALMENÜ</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="#">ALMENÜ +</a>
									<ul>
										<li>
											<a href="#">ALMENÜ</a>
										</li>
										<li>
											<a href="#">ALMENÜ</a>
										</li>
										<li>
											<a href="#">ALMENÜ</a>
										</li>
									</ul>
								</li> -->
							</ul>
						</li>
						<li>@*visible: !visitorInfo.isValidLogin()*@
							<a href="@Url.Content("~/PartnerInfo/Registration")">PARTNERRÉ VÁLÁS</a>
						</li>
						<li>
							<a rel="nofollow" href="http://www.fixdirect.hu" target="_blank">SZERVIZ</a>
						</li>
						<li>
							<a rel="nofollow" href="@Url.Content("~/karrier")">KARRIER</a>
						</li>
					</ul>
				</div>
				<!-- *** eddig tart az axaptás menü *** -->
			</div>
			<!-- ez a div kezdő tag a shop mudul eleje. a catalogue/index.cshtml fájlban van a záró tag -->
			<div id="cus_catalogue_container">
				@if (Model.Featured != null)
    {
				<div id="layout-featured" class="group">
					@Zone(Model.Featured)
				</div>
    }
				@if (Model.BeforeMain != null)
    {
				<div id="layout-before-main" class="group">
					@Zone(Model.BeforeMain)
				</div>
    }
				<div id="layout-main-container">
					<div id="layout-main" class="group">
						@if (Model.AsideFirst != null)
      {
						<aside id="aside-first" class="aside-first group">
							@Zone(Model.AsideFirst)
						</aside>
      }
						<div id="layout-content" class="group">
							@if (Model.Messages != null)
       {
							<div id="messages">
								@Zone(Model.Messages)
							</div>
       }
							@if (Model.BeforeContent != null)
       {
							<div id="before-content">
								@Zone(Model.BeforeContent)
							</div>
       }
							<div id="preloader">
								loadnig...
							</div>
							@* the model content for the page is in the Content zone @ the default position (nothing, zero, zilch) *@
							@if (Model.Content != null)
       {
							<div id="content" class="group">
								@Zone(Model.Content)
							</div>
       }
							@if (Model.AfterContent != null)
       {
							<div id="after-content">
								@Zone(Model.AfterContent)
							</div>
       }
						</div>
						@if (Model.AsideSecond != null)
      {
						<aside id="aside-second" class="aside-second">
							@Zone(Model.AsideSecond)
						</aside>
      }
					</div>
				</div>
				@if (Model.AfterMain != null)
    {
				<div id="layout-after-main" class="group">
					@Zone(Model.AfterMain)
					<table id="cus_copyright" border="0" cellpadding="0" cellspacing="0" width="990" align="center">
						<tbody>
							<tr>
								<td class="cus_copyright_table_small_text" colspan="2" align="center"><a href="#">felhaszn&aacute;l&aacute;si felt&eacute;telek</a> &bull; <a href="#">adatv&eacute;delmi nyilatkozat</a> &bull; <a href="#">sz&aacute;ll&iacute;t&aacute;si &eacute;s fizet&eacute;si felt&eacute;telek</a> &bull; <a href="#">vissz&aacute;ru felt&eacute;telek</a> &bull; <a href="#">garancia &eacute;rv&eacute;nyes&iacute;t&eacute;se</a> &bull; <a href="#">v&aacute;s&aacute;rl&aacute;s a web&aacute;ruh&aacute;zban</a>
								<hr />
								</td>
							</tr>
							<tr>
								<td>k&eacute;p helye</td>
								<td class="cus_copyright_table_small_text" align="center">Az &aacute;rak az &Aacute;F&Aacute;-t nem tartalmazz&aacute;k &eacute;s a mindenkori doll&aacute;r, illetve euro &aacute;rfolyam f&uuml;ggv&eacute;ny&eacute;ben v&aacute;ltozhatnak. Az akci&oacute;k a felt&uuml;ntetett időpontig, illetve visszavon&aacute;sig &eacute;rv&eacute;nyesek. Az &aacute;rv&aacute;ltoztat&aacute;s jog&aacute;t fenntartjuk. Az oldal tartalm&aacute;nak felhaszn&aacute;l&aacute;s&aacute;hoz, m&aacute;sol&aacute;s&aacute;hoz az oldal tulajdonos&aacute;nak enged&eacute;lye sz&uuml;ks&eacute;ges. &copy;2002-2011 HRP Hungary Kft. Minden jog fenntartva.</td>
							</tr>
						</tbody>
					</table>
				</div>
    }
				@if (Model.TripelFirst != null || Model.TripelSecond != null || Model.TripelThird != null)
    {
				<div id="layout-tripel-container">
					<div id="layout-tripel" class="group">
						@* as in beer *@
						@if (Model.TripelFirst != null)
      {
						<div id="tripel-first">
							@Zone(Model.TripelFirst)
						</div>
      }
						@if (Model.TripelSecond != null)
      {
						<div id="tripel-second">
							@Zone(Model.TripelSecond)
						</div>
      }
						@if (Model.TripelThird != null)
      {
						<div id="tripel-third">
							@Zone(Model.TripelThird)
						</div>
      }
					</div>
				</div>
    }
				<div id="layout-footer" class="group">
					<footer id="footer">
						<div id="footer-quad" class="group">
							@if (Model.FooterQuadFirst != null)
       {
							<div id="footer-quad-first">
								@Zone(Model.FooterQuadFirst)
							</div>
       }
							@if (Model.FooterQuadSecond != null)
       {
							<div id="footer-quad-second">
								@Zone(Model.FooterQuadSecond)
							</div>
       }
							@if (Model.FooterQuadThird != null)
       {
							<div id="footer-quad-third">
								@Zone(Model.FooterQuadThird)
							</div>
       }
							@if (Model.FooterQuadFourth != null)
       {
							<div id="footer-quad-fourth">
								@Zone(Model.FooterQuadFourth)
							</div>
       }
						</div>
						@if (Model.Footer != null)
      {
						<div id="footer-sig" class="group">
							@Zone(Model.Footer)
						</div>
      }
					</footer>
				</div>

			</div>
			<!-- Kosár impor ablak -->
			<div style="display: none;">
<div id="import_basket_list_win">
				<form id="basketlist_import" name="basketlist_import" enctype="multipart/form-data" method="post" action="">
				  <strong>Lista fájl importálása kosárba</strong><br /><br />
				  <table border="0" cellspacing="3" cellpadding="10">
				    <tr>
				      <td>Fájl kiválasztása</td>
				      <td><input type="file" name="import_basket_file" id="import_basket_file" /></td>
				    </tr>
				    <tr>
				      <td>Kosár elnevezése</td>
				      <td><input type="text" size="32" name="import_basket_name" id="import_basket_name" disabled="disabled" /></td>
				    </tr>
				    <tr>
				      <td>&nbsp;</td>
				      <td><input type="submit" name="button" id="button" value="Feltöltés indítása" /></td>
				    </tr>
				  </table>
				</form>
			</div>
			</div>
			
			<!-- új telephely hozzáadása ablak -->
			
			<div style="display: none;">
                <div id="add_new_site">
				    <form id="form_add_site" enctype="multipart/form-data" method="post" @*action="@Url.Content("~/ShoppingCart/SaveCart")"*@>
				      <strong>Telephely hozzáadása</strong><br /><br />
                      <div id="add_site_errors"></div>
				      <table border="0" cellspacing="3" cellpadding="10">
				        <tr>
				          <td>Irányítószám</td>
				          <td><input type="text" size="32" name="txt_site_irsz" id="txt_site_irsz" />
                          <label class="error" for="txt_site_irsz" generated="true" style="display:none; color:#900;">Az irányítószám megadása kötelező</label>
                          </td>
				        </tr>
				        
				        <tr>
				          <td>Ország</td>
				          <td><input type="text" size="32" name="txt_site_irsz" id="txt_site_irsz" />
                          <label class="error" for="txt_site_irsz" generated="true" style="display:none; color:#900;">Az ország megadása kötelező</label>
                          </td>
				        </tr>
				        
				        <tr>
				          <td>Város</td>
				          <td><input type="text" size="32" name="txt_site_irsz" id="txt_site_irsz" />
                          <label class="error" for="txt_site_irsz" generated="true" style="display:none; color:#900;">A város megadása kötelező</label>
                          </td>
				        </tr>
				        
				        <tr>
				          <td>Utca</td>
				          <td><input type="text" size="32" name="txt_site_irsz" id="txt_site_irsz" />
                          <label class="error" for="txt_site_irsz" generated="true" style="display:none; color:#900;">Az utca megadása kötelező</label>
                          </td>
				        </tr>
				        
				        <tr>
				          <td>Házszám</td>
				          <td><input type="text" size="32" name="txt_site_irsz" id="txt_site_irsz" />
                          <label class="error" for="txt_site_irsz" generated="true" style="display:none; color:#900;">A házszám megadása kötelező</label>
                          </td>
				        </tr>
				        
				        <tr>
				          <td>Emelet</td>
				          <td><input type="text" size="32" name="txt_site_irsz" id="txt_site_irsz" />
                          </td>
				        </tr>
				        
				        <tr>
				          <td>Ajtó</td>
				          <td><input type="text" size="32" name="txt_site_irsz" id="txt_site_irsz" />
                          </td>
				        </tr>
				        
				        <tr>
				          <td>&nbsp;</td>
				          <td><input type="submit" value="Telephely mentése" /></td>
				        </tr>
				      </table>
				    </form>
			    </div>
			</div>
			
			<!-- kosár mentése ablak -->
			<div style="display: none;">
                <div id="save_basket_win">
				    <form id="form_savecart" enctype="multipart/form-data" method="post" action="@Url.Content("~/ShoppingCart/SaveCart")">
				      <strong>Kosár mentése</strong><br /><br />
                      <div id="savecart_errors"></div>
				      <table border="0" cellspacing="3" cellpadding="10">
				        <tr>
				          <td>Kosár elnevezése</td>
				          <td><input type="text" size="32" name="txt_cartname" id="txt_cartname" />
                          <label class="error" for="txt_cartname" generated="true" style="display:none; color:#900;">A kosárnév kitöltése kötelező</label>
                          </td>
				        </tr>
				        <tr>
				          <td>&nbsp;</td>
				          <td><input type="submit" value="Kosár mentése" /></td>
				        </tr>
				      </table>
				    </form>
			    </div>
			</div>
			
			<!-- bejelentkezés ablak -->
			<div style="display: none;">
				<div id="div_login">
					@using (Html.BeginFormAntiForgeryPost(Url.Action(Url.Content("~/Customer/SignIn")), System.Web.Mvc.FormMethod.Post, new { id = "form_login" }))
     { 
                    <div id="login_errors"></div>
					<table width="470" border="0" align="center" cellpadding="10" cellspacing="1" >
						<tr>
							<td colspan="2" nowrap="nowrap"><h3>Bejelentkezés regisztrált partnereink részére</h3></td>
						</tr>
						<tr>
							<td>Felhasználónév</td>
							<td>@Html.TextBox("txt_username", "", new { style = "padding:5px; width:200px; border:1px #bbb solid; border-radius:5px;" })
							<br />
							<br />
							<label class="error" for="txt_username" generated="true" style="display:none; color:#900;">A felhasználónév kitöltése kötelező</label></td>
						</tr>
						<tr>
							<td>Jelszó</td>
							<td>@Html.Password("txt_password", "", new { style = "padding:5px; width:200px; border:1px #bbb solid; border-radius:5px;" })
							<br />
							<br />
							<label class="error" for="txt_password" generated="true" style="display:none; color:#900;">A jelszó kitöltése kötelező</label></td>
						</tr>
						<tr>
							<td>&nbsp;</td>
							<td>
							<input type="submit" value="Belépés" style="border-radius: 5px;" />
							</td>
						</tr>
					</table>
					<table width="470" border="0" align="center" cellpadding="10" cellspacing="0" style="background:#333; color:#999; " >
						<tr>
							<td width="100%"><a href="#" style="color:#fff; text-decoration: none;">Elfelejtett jelszó</a></td>
							<td align="right" nowrap="nowrap"> Még nem partnerünk? <a href="@Url.Content("~/PartnerInfo/Home/")" style="color:#fff; text-decoration: none;">Regisztráljon!</a></td>
						</tr>
					</table>
     }
				</div>
			</div>

@tag.EndElement