@functions {
    // To support the layout classifaction below. Implementing as a razor function because we can, could otherwise be a Func<string[], string, string> in the code block following.
    string CalcuClassify(string[] zoneNames, string classNamePrefix)
    {
        var zoneCounter = 0;
        var zoneNumsFilled = string.Join("", zoneNames.Select(zoneName => { ++zoneCounter; return Model[zoneName] != null ? zoneCounter.ToString() : ""; }).ToArray());
        return HasText(zoneNumsFilled) ? classNamePrefix + zoneNumsFilled : "";
    }
}
@{  
    /* Global includes for the theme
    ***************************************************************/
    Style.Include("http://fonts.googleapis.com/css?family=Lobster&subset=latin");
    Style.Include("site.css");
    Style.Include("hrp_bsc_html_css.css");
    Style.Include("login.css");

    Script.Require(Url.Content("jQuery")).AtHead();
    Script.Require(Url.Content("Chosen")).AtHead();
    Script.Require(Url.Content("JTemplate")).AtHead();
    Script.Require(Url.Content("JSon")).AtHead();
    Script.Require(Url.Content("JQuery_EasyPaginate")).AtHead();
    //Script.Require(Url.Content("JQuery_StickyBar")).AtHead();
    Script.Require(Url.Content("JQuery_FlexCroll")).AtHead();
    Script.Require(Url.Content("JQuery_HoverIntent")).AtHead();
    Script.Require(Url.Content("JQuery_AsmSelect")).AtHead();
    Script.Require(Url.Content("JQuery_Easing")).AtHead();
    Script.Require(Url.Content("JQuery_FancyBox")).AtHead();
    Script.Require(Url.Content("JQuery_FloatingMessage")).AtHead();
    Script.Require(Url.Content("JQuery_JqEasyPanel")).AtHead();
    Script.Require(Url.Content("JQuery_MouseWheel")).AtHead();
    Script.Require(Url.Content("JQuery_MultiSelect")).AtHead();
    Script.Require(Url.Content("JQuery_Tabify")).AtHead();
    Script.Require(Url.Content("JQuery_Uniform")).AtHead();
    Script.Require(Url.Content("JQuery_Vegas")).AtHead();
    Script.Require(Url.Content("JQuery_Prettify")).AtHead();
    Script.Require(Url.Content("JQuery_Flash")).AtHead();
    Script.Require(Url.Content("JQuery_MaskedInput")).AtHead();
    Script.Require(Url.Content("JQuery_PrintElement")).AtHead();
    Script.Require(Url.Content("jQuery_Validate")).AtHead();
    Script.Require(Url.Content("WebshopModel")).AtHead();
    Script.Require(Url.Content("CatalogueService")).AtHead();
    Script.Require(Url.Content("CustomerService")).AtHead();
    Script.Require(Url.Content("CustomerModel")).AtHead(); 
    Script.Require(Url.Content("jQuery_UICore")).AtHead();
    Script.Require(Url.Content("jQuery_UIDatePicker")).AtHead();
    Script.Require(Url.Content("Knockout")).AtHead();
    Script.Require(Url.Content("Constants")).AtHead();
    Script.Require(Url.Content("Requests")).AtHead(); 
    Script.Require(Url.Content("ShoppingCart")).AtHead();
    Script.Require(Url.Content("Catalogue")).AtHead();

        
    /* Some useful shortcuts or settings
    ***************************************************************/

    Func<dynamic, dynamic> Zone = x => Display(x); // Zone as an alias for Display to help make it obvious when we're displaying zones

    /* Layout classification based on filled zones
    ***************************************************************/

    //Add classes to the wrapper div to toggle aside widget zones on and off
    var asideClass = CalcuClassify(new[] { "AsideFirst", "AsideSecond" }, "aside-"); // for aside-1, aside-2 or aside-12 if any of the aside zones are filled
    if (HasText(asideClass))
    {
        Model.Classes.Add(asideClass);
    }

    //Add classes to the wrapper div to toggle tripel widget zones on and off
    var tripelClass = CalcuClassify(new[] { "TripelFirst", "TripelSecond", "TripelThird" }, "tripel-"); // for tripel-1, triple-2, etc. if any of the tripel zones are filled
    if (HasText(tripelClass))
    {
        Model.Classes.Add(tripelClass);
    }

    //Add classes to the wrapper div to toggle quad widget zones on and off
    var footerQuadClass = CalcuClassify(new[] { "FooterQuadFirst", "FooterQuadSecond", "FooterQuadThird", "FooterQuadFourth" }, "split-"); // for quad-1, quad-2, etc. if any of the quad zones are filled
    if (HasText(footerQuadClass))
    {
        Model.Classes.Add(footerQuadClass);
    }

    /* Inserting some ad hoc shapes
    ***************************************************************/

    WorkContext.Layout.Header.Add(New.Branding(), "5"); // Site name and link to the home page
    WorkContext.Layout.Footer.Add(New.BadgeOfHonor(), "5"); // Powered by Orchard
    WorkContext.Layout.Footer.Add(New.User(), "10"); // Login and dashboard links

    /* Last bit of code to prep the layout wrapper
    ***************************************************************/

    Model.Id = "layout-wrapper";
    var tag = Tag(Model, "div"); // using Tag so the layout div gets the classes, id and other attributes added to the Model
}
@tag.StartElement

    @using (Script.Head())
    {
        <script type="text/javascript" language="javascript">

			/*
			{"ErrorMessage":"","Id":"4f9456c36ee0121ebc496c69","CompanyId":"V016818","CompanyName":"Web Holding Kft.","PersonId":"KAPCS05869","PersonName":"Kőházi Ádám","LoggedIn":false,"IsValidLogin":false,
			"Permission":{"IsWebAdministrator":false,"InvoiceInfoEnabled":true,"PriceListDownloadEnabled":true,"CanOrder":true,"RecieveGoods":true},
			"Roles":["InvoiceInfoReader","PriceListReader","CanOrder"],"History":[]}			    
			*/

			$(document).ready(function () {

                CompanyGroupCms.Constants.Instance().setWebshopBaseUrl('@Url.Content("~/Webshop/Catalogue/")');
                CompanyGroupCms.Constants.Instance().setStructureServiceUrl('@Url.Content("~/Webshop/Catalogue/GetStructure")');
                CompanyGroupCms.Constants.Instance().setProductListServiceUrl('@Url.Content("~/Webshop/Catalogue/GetProducts")');
                CompanyGroupCms.Constants.Instance().setPictureListServiceUrl('@Url.Content("~/Webshop/Catalogue/GetListByProduct")');
                CompanyGroupCms.Constants.Instance().setPartnerInfoServiceUrl('@Url.Content("~/PartnerInfo/Home/")');
                CompanyGroupCms.Constants.Instance().setShoppingCartServiceBaseUrl('@Url.Content("~/Webshop/ShoppingCart/")');

			    var visitorInfoViewModel = CompanyGroupCms.VisitorInfoFactory.Create(@(Html.Raw(Json.Encode(ViewData["VisitorInfo"]))));

                //var visitorInfoViewModel = CompanyGroupCms.VisitorInfoFactory.Create({"ErrorMessage":null,"Id":"4fbb5b656ee012160ca02d65","CompanyId":"V016818","CompanyName":"Web Holding Kft.","PersonId":"KAPCS05869","PersonName":"Kőházi Ádám","LoggedIn":true,"IsValidLogin":true,"Permission":{"IsWebAdministrator":false,"InvoiceInfoEnabled":false,"PriceListDownloadEnabled":false,"CanOrder":true,"RecieveGoods":false},"Roles":["InvoiceInfoReader","PriceListReader","CanOrder"],"History":[]});

//			    var flags = CompanyGroupCms.CatalogueFactory.CreateFlags(false, false, false, false, false);

//			    var garanty = CompanyGroupCms.CatalogueFactory.CreateGaranty('pick_up_and_return', '1901.01.01');

//			    var pictures = [];

//			    var picture = CompanyGroupCms.CatalogueFactory.CreatePicture('thumbnail.jpg', true, 1000649);

//			    var productManager = CompanyGroupCms.CatalogueFactory.CreateProductManager('juaqaai@inf.elte.hu', '457', '30 20 36 448', 'Attila Juhasz');

//			    var stock = CompanyGroupCms.CatalogueFactory.CreateStock(0, 200, 0, 2);

//			    var line = CompanyGroupCms.ShoppingCartFactory.CreateLine('HUF', 10638, 'bsc', flags, garanty, '452435435645646465fdgdgeg356535', false, 0, 'hu', 'ecs148', pictures, picture, 'p623456', productManager, false, 3, '1900.01.01', stock);

                var initialShoppingCart = @(Html.Raw(Json.Encode(ViewData["ActiveCart"]))); // {"Items":[],"SumTotal":0,"Id":""};

                var initialStoredCarts = @(Html.Raw(Json.Encode(ViewData["StoredCarts"])));

                var initialOpenedCarts = @(Html.Raw(Json.Encode(ViewData["OpenedCarts"])));

                var initialShoppingCartOpenStatus = @(Html.Raw(Json.Encode(ViewData["ShoppingCartOpenStatus"])));

                var initialCatalogueOpenStatus = @(Html.Raw(Json.Encode(ViewData["CatalogueOpenStatus"])));
                
                /*[{"Id":"4fba031e6ee01218d879110f","Name":"test", "Active": false},
                {"Id":"4fba0a0b6ee01216287934d4","Name":"2012.5.21 11:25", "Active": true}];*/

			    var shoppingCartViewModel = CompanyGroupCms.ShoppingCartFactory.CreateCart(initialShoppingCart.Id, initialShoppingCart.Items, initialStoredCarts, initialOpenedCarts, initialCatalogueOpenStatus, initialShoppingCartOpenStatus);
                
			    var initialProductList = @(Html.Raw(Json.Encode(ViewData["InitialProductList"])));

                var productListViewModel = CompanyGroupCms.CatalogueFactory.CreateProductList(initialProductList.Items, initialProductList.ListCount, initialProductList.Pager.FirstEnabled, initialProductList.Pager.LastEnabled, initialProductList.Pager.PreviousEnabled, initialProductList.Pager.NextEnabled, initialProductList.Pager.LastPageIndex, initialProductList.Pager.selectedPageIndex);

//                $.each(initialProductList.Items, function(index, product) {

//                    var stock2 = CompanyGroupCms.CatalogueFactory.CreateStock(product.InnerStock, product.OuterStock, 0, 0);
//                    var garanty2 = CompanyGroupCms.CatalogueFactory.CreateGaranty(product.GarantyMode, product.GarantyTime);
//                    var flags2 = CompanyGroupCms.CatalogueFactory.CreateFlags(product.Bargain, product.Discount, product.IsInStock, product.New, product.Special);
//                    var category1 = CompanyGroupCms.CatalogueFactory.CreateFirstLevelCategory(product.FirstLevelCategory.Id, product.FirstLevelCategory.Name);
//                    var category2 = CompanyGroupCms.CatalogueFactory.CreateSecondLevelCategory(product.SecondLevelCategory.Id, product.SecondLevelCategory.Name);
//                    var category3 = CompanyGroupCms.CatalogueFactory.CreateThirdLevelCategory(product.ThirdLevelCategory.Id, product.ThirdLevelCategory.Name);
//                    var manufacturer = CompanyGroupCms.CatalogueFactory.CreateManufacturer(product.Manufacturer.Id, product.Manufacturer.Name);
//                    var productManager2 = CompanyGroupCms.CatalogueFactory.CreateProductManager(product.ProductManager.Email, product.ProductManager.Extension, product.ProductManager.Mobile, product.ProductManager.Name);
//                    var prod = CompanyGroupCms.CatalogueFactory.CreateProduct(product.Currency, product.DataAreaId, product.Description, category1, category2, category3, flags2, garanty2, product.IsInCart, product.IsInStock, product.ItemName, product.ItemState, manufacturer, product.PartNumber, product.PrimaryPicture.RecId, product.Price, product.ProductId, productManager2, product.PurchaseInProgress, product.SequenceNumber, product.ShippingDate, stock2);
//                    productListViewModel.addProduct(prod);
//                });

                $.each(initialProductList.Pager.PageItemList, function(index, page) {
                    var p = CompanyGroupCms.CatalogueFactory.CreatePage(page.Selected, page.Index, page.Value);
                    productListViewModel.addPage(p);   
                });

               //console.log(productListViewModel.pageItemList());

			    var AppViewModel = {
			        visitorInfo: visitorInfoViewModel,
			        shoppingCart: shoppingCartViewModel, 
                    productList:productListViewModel
			    };

                //console.log(AppViewModel.productList.pageItemList());
			    //alert(ko.toJSON(shoppingCartViewModel));

			    ko.applyBindings(AppViewModel);

			     console.log(AppViewModel.productList.firstPageEnabled());
                 console.log(AppViewModel.productList.nextPageEnabled());
			    //AppViewModel.visitorInfo.authorizationData('@Url.Content("~/PartnerInfo/Home/VisitorInfo")');

			    jQuery('.chosen').chosen();

			    jQuery('.chosen').unbind('change').bind('change', function () {
			        if ($(this).attr('id') == 'manufacturerList') {
                        var manufacturerIdList = $('#manufacturerList').val();
			            CompanyGroupCms.CatalogueListRequest.ManufacturerIdList = (manufacturerIdList == null) ? '' : manufacturerIdList;
			            AppViewModel.productList.loadStructure(false, true, true, true);
			            AppViewModel.productList.loadCatalogueList();
			        } else if ($(this).attr('id') == 'category1List') {
                        var category1IdList = $('#category1List').val();
			            CompanyGroupCms.CatalogueListRequest.Category1IdList = (category1IdList == null) ? '' : category1IdList;
			            AppViewModel.productList.loadStructure(true, false, true, true);
			            AppViewModel.productList.loadCatalogueList();
			        } else if ($(this).attr('id') == 'category2List') {
                        var category2IdList = $('#category2List').val();
			            CompanyGroupCms.CatalogueListRequest.Category2IdList = (category2IdList == null) ? '' : category2IdList;
			            AppViewModel.productList.loadStructure(true, true, false, true);
			            AppViewModel.productList.loadCatalogueList();
			        }
			    });
			    //dupla klikk tiltása
			    $(document).bind("dblclick", function (event) {
			        alert("Egyet kattints! Ez weboldal nem a pasziánsz!");
			        event.preventDefault();
			    });
			    //cus teljes háttérkép eleje
			    $.vegas({
			        src: '@Url.Content("~/Media/images/background6.jpg")'
			    });

                $('#saved_shoppingcart_list').change(function () {
			        AppViewModel.shoppingCart.activateCart($('#saved_shoppingcart_list').val());
			    });

			    //cus alsó (ajánlott) termék lapozó eleje
			    $('#cus_recommended_prod_content').easyPaginate({
			        step: 4,
			        delay: 300,
			        numeric: true,
			        nextprev: false,
			        auto: false,
			        pause: 5000,
			        clickstop: true,
			        controls: 'pagination',
			        current: 'current'
			    });

			    //FanyBox felbukkanó ablakok eleje
			    $('#loginwin').fancybox({
			        autoDimensions: true,
			        /*width: '40%',
			        height: '60%',*/
			        autoScale: false,
			        transitionIn: 'fade',
			        transitionOut: 'fade'
			        //type : 'iframe'
			    });


				$('#import_win').fancybox({
				    transitionIn: 'fade',
				    transitionOut: 'fade'

				});

				$('#basket_save').fancybox({
				transitionIn: 'fade',
				transitionOut: 'fade'
				});

			    //fenti, lenyíló kosár panel eleje
//			    $("#active_basket").click(function () {
//			        $("#basket_panel").slideToggle("fast");
//			        $(this).toggleClass("active");
//			        return false;
//			    });
			    //kosár tábla a lenyíló panelben és a továbblépés modulok

			    $("#cus_rendeles_feladas").hide();
			    $("#feladas_link").show();

			    $("#cus_ajanlat_vegfelhasznalo").hide();
			    $("#ajanlat_veg_link").show();

			    $("#cus_ajanlat_finance").hide();
			    $("#ajanlat_finance_link").show();

			    $('#feladas_link').click(function () {
			        $("#cus_rendeles_feladas").slideToggle();
			        $("#cus_ajanlat_vegfelhasznalo").hide();
			        $("#cus_ajanlat_finance").hide();
			    });

			    $('#ajanlat_veg_link').click(function () {
			        $("#cus_ajanlat_vegfelhasznalo").slideToggle();
			        $("#cus_rendeles_feladas").hide();
			        $("#cus_ajanlat_finance").hide();
			    });

			    $('#ajanlat_finance_link').click(function () {
			        $("#cus_ajanlat_finance").slideToggle();
			        $("#cus_ajanlat_vegfelhasznalo").hide();
			        $("#cus_rendeles_feladas").hide();
			    });

			    //mindent lenyit/becsuk lista elemek eleje
			    $(".toggle_container").hide();
			    $(".expand_heading").toggle(function () {
			        $(this).addClass("active");
			    }, function () {
			        $(this).removeClass("active");
			    });
			    $(".expand_heading").click(function () {
			        $(this).next(".toggle_container").slideToggle("slow");
			    });
			    $(".expand_all").toggle(function () {
			        $(this).addClass("expanded");
			    }, function () {
			        $(this).removeClass("expanded");
			    });
			    $(".expand_all").click(function () {
			        $(".toggle_container").slideToggle("slow");
			    });
			    //alsó kinyíló panel eleje
			    var slide = false;
			    var height = $('#cus_bottom_panel_on').height();
			    $('#bottom_button_open').click(function () {
			        var docHeight = $(document).height();
			        var windowHeight = $(window).height();
			        var scrollPos = '';
			        $('#cus_bottom_panel_on').animate({
			            height: "toggle"
			        }, 600);
			        if (slide == false) {
			            if ($.browser.opera) {//Fix opera double scroll bug by targeting only HTML.
			                $('html').animate({
			                    scrollTop: scrollPos + 'px'
			                }, 600);
			            } else {
			                $('html, body').animate({
			                    scrollTop: scrollPos + 'px'
			                }, 600);
			            }
			            slide = true;
			        } else {
			            slide = false;
			        }
			    });

			    //termékadatlap tabjai
			    $('.tabs a').click(function () {
			        switch_tabs($(this));
			    });
			    switch_tabs($('.defaulttab'));
			    //tabok vége

			    //Lenyíló menük delay beállítása
			    $("#navmenu").mouseover(function () {
			        $("ul#navmenu ul li").slideDown("slow");
			        $(this).toggleClass("active");
			        return false;
			    });

			    $("#navmenu_order").mouseover(function () {
			        $("ul#navmenu_order ul li").slideDown("slow");
			        $(this).toggleClass("active");
			        return false;
			    });

			    $("#navmenu_o").mouseover(function () {
			        $("ul#navmenu_o li").slideDown("slow");
			        $(this).toggleClass("active");
			        return false;
			    });

			    $("#usermenu").mouseover(function () {
			        $("ul#usermenu ul li").slideDown("slow");
			        $(this).toggleClass("active");
			        return false;
			    });
			    //Lenyíló menük delay beállítása vége //////////////////////////////////

			    //rendelés feladás logikai kapcsolók eleje /////////////////////////////

			    //Fizetési mód kapcsolók ///////////////////////////////////////////////

			    //készpénzes fizetés
			    $("input[name='radio_fizetesimod']").change(function () {
			        if ($("input[name='radio_fizetesimod']:checked").val() == '1') {
			            $('#raktari_off').hide();
			            $('#kiszallitas_off').show();
			            $('#cim_off').show();
			            $('#idopont_off').show();
			            $('#szallcimadat_off').show();
			            $('#atutalas_off').show();
			            $('#eloreutalas_off').show();
			            $('#utanvet_off').show();
			        }
			    });

			    //átutalásos fizetés
			    $("input[name='radio_fizetesimod']").change(function () {
			        if ($("input[name='radio_fizetesimod']:checked").val() == '2') {
			            $('#raktari_off').hide();
			            $('#kiszallitas_off').hide();
			            $('#keszpenz_off').show();
			            $('#eloreutalas_off').show();
			            $('#utanvet_off').show();
			        }
			    });

			    //előre utalásos fizetés
			    $("input[name='radio_fizetesimod']").change(function () {
			        if ($("input[name='radio_fizetesimod']:checked").val() == '3') {
			            $('#raktari_off').hide();
			            $('#kiszallitas_off').hide();
			            $('#keszpenz_off').show();
			            $('#atutalas_off').show();
			            $('#utanvet_off').show();
			        }
			    });

			    //utánvét
			    $("input[name='radio_fizetesimod']").change(function () {
			        if ($("input[name='radio_fizetesimod']:checked").val() == '4') {
			            $('#raktari_off').show();
			            $('#kiszallitas_off').hide();
			            $('#keszpenz_off').show();
			            $('#eloreutalas_off').show();
			            $('#atutalas_off').show();
			        }
			    });

			    //Szállítási mód kapcsolók ////////////////////////////////////////////

			    //raktári átvétel
			    $("input[name='radio_szallitasimod']").change(function () {
			        if ($("input[name='radio_szallitasimod']:checked").val() == '1') {
			        	$("#feladas").removeClass("feladasopciok_block"); 
			            $("#feladas").addClass("feladasopciok_ok"); 
			            $('.feladasopciok_ok').removeAttr("disabled");
			            $('#szallcimadat_off').show();
			            $('#kiszallitas_off').show();
			            $('#custom_number').removeAttr("disabled");
			            $('#user_comment').removeAttr("disabled");
			        }
			    });

			    //kiszállítást kér
			    $("input[name='radio_szallitasimod']").change(function () {
			        if ($("input[name='radio_szallitasimod']:checked").val() == '2') {
			            $('#szallcimadat_off').hide();
			            $('#szallcimadat').show();
			            $('#raktari_off').show();
			        }
			    });

			    //reset ///////////////////////////////////////////////////////////////

			    $("input[name='nullazo']").click(function () {
			        $('#raktari_off').show();
			        $('#kiszallitas_off').show();
			        $('#cim_off').show();
			        $('#idopont_off').show();
			        $('#szallcimadat_off').show();
			        $('#keszpenz_off').hide();
			        $('#atutalas_off').hide();
			        $('#eloreutalas_off').hide();
			        $('#utanvet_off').hide();
		        $('.feladasopciok_ok').attr("disabled", "disabled");
			        $('#custom_number').attr("disabled", "disabled");
			        $('#user_comment').attr("disabled", "disabled");
			        $("#feladas").addClass("feladasopciok_block");
			    });

			    //szállítási idő naptármodul

			    $("#naptar").datepicker({

			        beforeShowDay: $.datepicker.noWeekends,
			        minDate: +1,
			        maxDate: "+1W +1D",
			        defaultDate: +1,
			        dateFormat: 'yy-mm-dd',
			        constrainInput: true,
			        //appendText: '(év-hónap-nap)',
			        dayNames: ['Vasárnap', 'Hétfő', 'Kedd', 'Szerda', 'Csütörtök', 'Péntek', 'Szombat'],
			        dayNamesMin: ['V', 'H', 'K', 'Sz', 'Cs', 'P', 'Sz'],
			        firstDay: 1,
			        monthNames: ['Jan', 'Feb', 'Már', 'Ápr', 'Máj', 'Jún', 'Júl', 'Aug', 'Szep', 'Okt', 'Nov', 'Dec'],
			        prevText: '<strong><|</strong>',
			        nextText: '<strong>|></strong>'

			    });

			    //Kézi dátumozás tiltása
			    
			    $("input[name='naptar']").keypress(function(e){
				    var keycode =  e.keyCode ? e.keyCode : e.which;
				
				    if(keycode == 8){ // backspace
				        // do somethiing
				        $("input[name='naptar']").val("Kattintson ide");
				    }
				
				    if(keycode == 46){ // delete
				        // do somethiing
				        alert(keycode);
				    } 
				
				});
			    
			    //Feladás gomb aktiválás dátum választás után
			    
			    $("input[name='naptar']").change(function () {
			        if ($("input[name='naptar']").val() != 'Kattintson ide') {
			        	$("#feladas").removeClass("feladasopciok_block"); 
			            $("#feladas").addClass("feladasopciok_ok"); 
			            $('.feladasopciok_ok').removeAttr("disabled");
			            $('#custom_number').removeAttr("disabled");
			            $('#user_comment').removeAttr("disabled"); 
			        }
			    });
			    
			     //// Véletlen szám és elő + utótag az importált kosarakhoz ////
			     
			     function randomnumber() {
			     	
			     	var currentDate = new Date()
					  var day = currentDate.getDate()
					  var month=('0'+(currentDate.getMonth()+1)).slice(-2)
					  var year = currentDate.getFullYear()
			     	
					document.basketlist_import.import_basket_name.value=('Importált kosár - ' + Math.round(Math.random()*99999+1) + ' - ' +  year + "." + month + "." + day + ".");
					}
					
					onload=randomnumber
			    
			    $('#preloader').ajaxStart(function () {
			        $('#preloader').show();
			    }).ajaxStop(function () {
			        $('#preloader').hide();
			    });

			    $("#anchor_signout").click(function () {
			        AppViewModel.visitorInfo.signOut();
			    });
			    $("#form_login").validate({
			        submitHandler: function () {
			            //CompanyGroupCms.Services.CustomerService.Instance().SignIn($('#txt_username').val(), $('#txt_password').val(), $('input[name=__RequestVerificationToken]').val(), '@Url.Content("~/PartnerInfo/Home/SignIn")');
			            AppViewModel.visitorInfo.signIn($('#txt_username').val(), $('#txt_password').val(), $('input[name=__RequestVerificationToken]').val());
			            return false;
			        },
			        invalidHandler: function (e, validator) {
			            var errors = validator.numberOfInvalids();
			            if (errors) {
			                var message = errors > 1 ? 'Az űrlap kitöltése nem megfelelő! (' + errors + ' hiba)' : '';
			                $("#login_errors").html(message);
			                $("#login_errors").show();
			            } else {
			                $("#login_errors").hide();
			            }
			        },
			        //errorLabelContainer: $("#login_errors"),
			        rules: {
			            txt_username: {
			                required: true
			            },
			            txt_password: {
			                required: true
			            }
			        },
			        messages: {
			            txt_username: "A felhasználónév kitöltése kötelező!",
			            txt_password: "A jelszó kitöltése kötelező!"
			        }
			    });

			    $(".form").validate({
			        submitHandler: function () {

			            return false;
			        },
			        invalidHandler: function (e, validator) {
			            var errors = validator.numberOfInvalids();
			            if (errors) {
			                var message = errors > 1 ? 'Az űrlap kitöltése nem megfelelő! (' + errors + ' hiba)' : '';
			                //$("#login_errors").html(message);
			                //$("#login_errors").show();
			            } else {
			                //$("#login_errors").hide();
			            }
			        },
			        //errorLabelContainer: $("#login_errors"),
			        rules: {
			            txt_qty: {
			                required: true
			            }
			        },
			        messages: {
			            txt_qty: "A mező kitöltése kötelező!"
			        }
			    });

			    $("#form_savecart").validate({
			        submitHandler: function () {
			            AppViewModel.shoppingCart.saveCart($('#txt_cartname').val());
			            return false;
			        },
			        invalidHandler: function (e, validator) {
			            var errors = validator.numberOfInvalids();
			            if (errors) {
			                var message = errors > 1 ? 'Az űrlap kitöltése nem megfelelő! (' + errors + ' hiba)' : '';
			                $("#savecart_errors").html(message);
			                $("#savecart_errors").show();
			            } else {
			                $("#savecart_errors").hide();
			            }
			        },
			        //errorLabelContainer: $("#login_errors"),
			        rules: {
			            txt_cartname: {
			                required: true
			            }
			        },
			        messages: {
			            txt_cartname: "A kosár nevének kitöltése kötelező!"
			        }
			    });

			});

			function switch_tabs(obj) {
			    $('.tab-content').hide();
			    $('.tabs a').removeClass("selected");
			    var id = obj.attr("rel");
			    $('#' + id).show();
			    obj.addClass("selected");
			}

			function refreshContent(value) {
				AppViewModel.productList.loadCatalogueList();
				if(value) {
					$('#span_visitorinfo_inner').show();
					$('#span_visitorinfo_outer').hide();
					$('#loginwin').hide();
					$('#anchor_signout').show();
				} else {
					$('#span_visitorinfo_inner').hide();
					$('#span_visitorinfo_outer').show();
					$('#loginwin').show();
					$('#anchor_signout').hide();
				}
			}
		</script>
    }

		@if (Model.Header != null)
  {
		<header id="layout-header" class="group">
			
			<div id="header">
				@Zone(Model.Header)
			</div>
		</header>
  } <!-- *** alsó felnyíló panel div *** -->
		<div id="bottom_button_open">
			<div id="cus_bottom_content_on">
				<div id="openclose_button"><img src="@Url.Content("~/Media/images/openclose.png")" alt=""/>
				</div>
				<table align="center" width="970" border="0" cellspacing="1" cellpadding="2">
					<tr>
						<td width="290" nowrap="nowrap" ><strong>###<span style="color:#900;">###</span></strong></td>
						<td width="290" nowrap="nowrap" ><strong>###</strong></td>
						<td width="290" nowrap="nowrap" ><strong>###</strong></td>
					</tr>
				</table>
			</div>
		</div>
		<div id="cus_bottom_panel_on">
			<div id="cus_bottom_content_on">
				<table align="center" width="970" border="0" cellspacing="1" cellpadding="2">
					<tr>
						<td nowrap="nowrap"><strong>###<span style="color:#900;">###</span></strong></td>
						<td nowrap="nowrap"><strong>###</strong></td>
						<td nowrap="nowrap"><strong>###</strong></td>
					</tr>
					<tr>
						<td colspan="3">
						<hr style="color:#ccc; background:#ccc; height:1px; border:0;" />
						</td>
					</tr>
					<tr>
						<td valign="top"><!-- kosár lista táblázat -->
						<div id="cus_bottom_list_table">
							<table width="290" border="0" cellspacing="1" cellpadding="2">
								<tr>
									<td nowrap="nowrap">###</td>
									<td nowrap="nowrap">###</td>
									<td align="right" nowrap="nowrap">###</td>
								</tr>
								<tr>
									<td nowrap="nowrap">###</td>
									<td nowrap="nowrap">###</td>
									<td align="right" nowrap="nowrap">###</td>
								</tr>
							</table>
							<table width="290" border="0" cellspacing="1" cellpadding="2">
								<tr>
									<td nowrap="nowrap">
									<hr style="color:#ccc; background:#ccc; height:1px; border:0;" />
									</td>
								</tr>
								<tr>
									<td nowrap="nowrap"> ### | ### </td>
								</tr>
							</table>
						</div><!-- kosár lista táblázat vége --></td>
						<td valign="top"><!-- összehasonlító lista táblázat -->
						<div id="cus_bottom_list_table">
							<table width="290" border="0" cellspacing="1" cellpadding="2">
								<tr>
									<td nowrap="nowrap">###</td>
								</tr>
								<tr>
									<td nowrap="nowrap">###</td>
								</tr>
							</table>
						</div><!-- összehasonlító lista táblázat vége --></td>
						<td valign="top"><!-- előzmények lista táblázat -->
						<div id="cus_bottom_list_table">
							<table align="left" width="290" border="0" cellspacing="1" cellpadding="2">
								<tr>
									<td nowrap="nowrap">###</td>
								</tr>
								<tr>
									<td nowrap="nowrap">###</td>
								</tr>
							</table>
						</div><!-- előzmények lista táblázat vége --></td>
					</tr>
				</table>
			</div>
		</div>
		<!-- *** alsó felnyíló panel div vége *** -->
		<div id="cus_header1">
			<table id="cus_header1_table" width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
				<tr>
					<td width="100%">
                    <span data-bind="visible: visitorInfo.isValidLogin()">Bejelentkezve:</span> 
                    <strong><span data-bind="text: visitorInfo.companyName(), visible: visitorInfo.isValidLogin()"></span> <span data-bind="text: visitorInfo.personName(), visible: visitorInfo.isValidLogin()"></span></strong>
                    <a id="anchor_signout" data-bind="visible: visitorInfo.isValidLogin()" href="javascript:void(0)"><strong>&nbsp;|&nbsp;Kijelentkezés</strong></a>
                    <img data-bind="visible: !visitorInfo.isValidLogin()" src="@Url.Content("~/Media/images/login.png")" align="absmiddle" style="margin-right: 5px;" alt="" /><a data-bind="visible: !visitorInfo.isValidLogin()" id="loginwin" href="#div_login"><strong>Bejelentkezés </strong></a>
                    </td>
					<td nowrap="nowrap">&nbsp;</td>
					<td nowrap="nowrap">Nyelv&nbsp;</td>
					<td nowrap="nowrap"><strong><a href="#"><span style="background: #900; padding: 2px; margin-right: 10px;">EN</span></a></strong>Pénznem <strong><a href="#"><span style="background: #666; padding: 2px; margin-right: 2px;">HUF</span></a></strong><strong><a href="#"><span style="background: #666; padding: 2px; margin-right: 2px;">EUR</span></a></strong><strong><a href="#"><span style="background: #666; padding: 2px;">USD</span></a></strong></td>
				</tr>
			</table>
		</div>
		<!-- </div>  --><div id="cus_header2"></div>
		<div id="cus_content_container">
			<div id="cus_header_navigation_b">
				<table width="100%" border="0" cellspacing="1" cellpadding="5">
					<tr id="cus_header_navigation_b_table">
						<td nowrap="nowrap">
						<ul id="navmenu">
							<li>
								<div id="cus_speedmenu_text">
									Gyorsmenü
								</div>
								<ul>
									<li>
										<a href="">Előzőleg vásárolt termékek</a>
									</li>
									<li>
										<a href=""><strong>AKCIÓS TERMÉKEK</strong></a>
										<!--<ul>
										<li><a href="">Notebookok</a></li>
										<li><a href="">Monitorok</a></li>
										<li><a href="">Nyomtatók</a></li>
										<li><a href="">Kiegészítők</a></li>
										</ul>-->
									</li>
									<li>
										<a href="">HRP termékek +</a>
										<ul>
											<li>
												<a href="">Asztali gépek</a>
											</li>
											<li>
												<a href="">Notebookok</a>
											</li>
											<li>
												<a href="">Monitorok</a>
											</li>
											<li>
												<a href="">Nyomtatók</a>
											</li>
											<li>
												<a href="">Kiegészítők</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="">BSC termékek +</a>
										<ul>
											<li>
												<a href="">Szoftverek</a>
											</li>
											<li>
												<a href="">Játékvezérlők</a>
											</li>
											<li>
												<a href="">Kiegészítők</a>
											</li>
										</ul>
									</li>
								</ul>
							</li>
						</ul></td>
						<td nowrap="nowrap">
						<ul data-bind="visible: visitorInfo.isValidLogin()" id="usermenu">
							<li>
								<div id="cus_usermenu_text">
									Adatkezelő
								</div>
								<ul>
									<li>
										<a href="">Adatlap / módosítás</a>
									</li>
									<li>
										<a href="">Számlák</a>
									</li>
									<li>
										<a href="">Megrendelések</a>
									</li>
									<li>
										<a href="">Hírlevelek</a>
									</li>
								</ul>
							</li>
						</ul></td>
						<td width="100%" nowrap="nowrap">&nbsp;</td>
						<td align="right" nowrap="nowrap">
						
						<table data-bind="visible: visitorInfo.isValidLogin(), click: function() { shoppingCart.saveShoppingCartOpenStatus(); }" id="active_basket" border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td><img src="@Url.Content("~/Media/images/basketbutton_01.png")" alt="" /></td>
								<td class="active_basket_middle_cell" nowrap="nowrap"><a href="javascript:void(0)" class="btn_basket_slide"><span style="color: #000">Aktív kosár: </span><span style="color: #900" data-bind="text: shoppingCart.sumTotal()"></span><span style="color: #000"> [ + Megnyitás ]</span></a></td>
								<td><img src="@Url.Content("~/Media/images/basketbutton_03.png")" alt="" /></td>
							</tr>
						</table>
						
						</td>
						<td width="50%" align="right" nowrap="nowrap"><!-- *** gyorskereső ajánlóval *** -->
						<input name="searchfield" type="text" value="Keresett kifejezés" class="ui-autocomplete-input" id="srchfield" size="19" onfocus="if(this.value=='Keresett kifejezés')this.value=''" onblur="if(this.value=='')this.value='Keresett kifejezés'"/>
						</td>
					</tr>
				</table>
			</div>
			<div id="cus_logo_and_pages_menu"><img src="@Url.Content("~/Media/images/hrp_bsc_logo.png")" alt=""/>
		    <div id="akcio_badge"><a href="#"><img src="@Url.Content("~/Media/images/akcio_badge.png")" border="0" alt=""></a></div>
				

				<!-- @if (Model.Navigation != null)
         {
				@Zone(Model.Navigation)
         } -->
				<!-- *** ide jön az axaptás menü *** -->
				<div id="cus_ax_nav">
					<ul id="navmenu_o">
						<li>
							<a href="@Url.Content("~/Webshop/Catalogue")">WEBÁRUHÁZ</a>
						</li>
						<li>
							<a href="#">ÚJDONSÁG</a>
							<ul>
								<li>
									<a href="#">ALMENÜ +</a>
									<ul>
										<li>
											<a href="#">ALMENÜ</a>
										</li>
										<li>
											<a href="#">ALMENÜ</a>
										</li>
										<li>
											<a href="#">ALMENÜ</a>
										</li>
										<li>
											<a href="#">ALMENÜ</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="#">ALMENÜ</a>
								</li>
								<li>
									<a href="#">ALMENÜ</a>
								</li>
								<!-- menubanner -->
								<li>
									<a href="#"><img src="@Url.Content("~/Media/images/menubanner.png")" width="144px" border="0" vspace="4" alt="" /></a>
								</li>
								<!-- ********** -->
							</ul>
						</li>
						<li>
							<a href="#">CÉGINFORMÁCIÓ</a>
							<ul>
								<li>
									<a href="#">ALMENÜ +</a>
									<ul>
										<li>
											<a href="#">ALMENÜ</a>
										</li>
										<li>
											<a href="#">ALMENÜ</a>
										</li>
										<li>
											<a href="#">ALMENÜ</a>
										</li>
										<li>
											<a href="#">ALMENÜ</a>
										</li>
										<li>
											<a href="#">ALMENÜ</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="#">ALMENÜ +</a>
									<ul>
										<li>
											<a href="#">ALMENÜ</a>
										</li>
										<li>
											<a href="#">ALMENÜ</a>
										</li>
										<li>
											<a href="#">ALMENÜ</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">PARTNERRÉ VÁLÁS</a>
						</li>
						<li>
							<a rel="nofollow" target="_blank" href="http://solardreamstudios.com/">SZERVIZ</a>
						</li>
						<li>
							<a rel="nofollow" target="_blank" href="http://solardreamstudios.com/">KARRIER</a>
						</li>
					</ul>
				</div>
				<!-- *** eddig tart az axaptás menü *** -->
			</div>
			<!-- *** felső kosár panel div *** -->
			 
			<div id="basket_panel">
				<div id="cus_basket_menu">
                    <table width="984" border="0" cellspacing="0" cellpadding="2">
                      <tr>
                        <td nowrap="nowrap">&nbsp;<img src="@Url.Content("~/Media/images/basketicons/new.png")" alt="" /></td>
                        <td nowrap="nowrap"><a href="javascript:void(0)" data-bind="click: function() { shoppingCart.addCart(); }">Új kosár</a>&nbsp;</td>
                        <td nowrap="nowrap"><img src="@Url.Content("~/Media/images/basketicons/b_delete.png")" alt="" /> </td>
                        <td nowrap="nowrap"><a href="javascript:void(0)" data-bind="click: function() { shoppingCart.removeCart(); }">Aktív kosár törlése</a>&nbsp;</td>
                        <td nowrap="nowrap"><img src="@Url.Content("~/Media/images/basketicons/b_save.png")" alt="" /></td>
                      <td nowrap="nowrap"><a id="basket_save" href="#save_basket_win">Aktív kosár mentése</a>&nbsp;</td>
                        <td nowrap="nowrap"><img src="@Url.Content("~/Media/images/basketicons/import.png")" alt="" /></td>
                        <td nowrap="nowrap" width="100%"><a id="import_win" href="#import_basket_list_win" >Lista fájl importálása</a></td>

                        <!-- <td align="right"><select name="select" id="opened_shoppingcart_list" >
                          <option selected="selected">Nyitott kosarak listája</option>
                          <option>Nyitott példa kosár 01</option>
                          <option>Nyitott példa kosár 02</option>
                          <option>Nyitott példa kosár 03</option>
                        </select></td> -->
                        <td align="right"><select name="select" id="saved_shoppingcart_list">
                        <option style="font-weight: bold; margin-left:-3px; padding-bottom:2px; padding-top:2px; background: #7FAA13; color:#fff;" value="">Mentett / nyitott kosarak listája</option>
                        <optgroup label="Mentett kosarak">
                        <!-- ko foreach: shoppingCart.storedCarts -->

                          <!-- ko if: !active() --> 
                          <option class="saved_basket_list_icon" data-bind="value: id(), text: name()"></option>
                          <!-- /ko -->
                          <!-- ko if: active() --> 
                          <option class="saved_basket_list_icon" data-bind="value: id(), text: name()" selected="selected"></option>
                          <!-- /ko -->

                          <!-- /ko -->  
                        </optgroup>
                                            
                        <optgroup label="Nyitott kosarak">
                          <!-- ko foreach: shoppingCart.openedCarts -->

                          <!-- ko if: !active() -->
                          <option class="open_basket_list_icon" data-bind="value: id(), text: name()"></option>
                          <!-- /ko -->
                          <!-- ko if: active() --> 
                          <option class="open_basket_list_icon" data-bind="value: id(), text: name()" selected="selected"></option>
                          <!-- /ko -->

                          <!-- /ko -->
                        </optgroup>
                        </select></td>
                      </tr>
                    </table>
                </div>
                <div id="cus_basket">
                    @using (Html.BeginFormAntiForgeryPost(Url.Action(Url.Content("~/ShoppingCart/AddItem")), System.Web.Mvc.FormMethod.Post, new { id = "form_shoppingcart" }))
                    {
                    <table width="974" border="0" cellspacing="1" cellpadding="3">
                    <thead>
                      <tr>
                        <td><strong>Temék neve</strong></td>
                        <td><strong>Azonosító</strong></td>
                        <td><strong>Egység ár</strong></td>
                        <td><strong>Mennyiség</strong></td>
                        <td><strong>Összesen</strong></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                      </tr>
                    </thead>
                    <tbody>
                        <!-- ko foreach: shoppingCart.lines -->
                        <tr>
                            <td width="20%"nowrap="nowrap" data-bind="text: productId()"> </td>
                            <td width="20%"nowrap="nowrap" data-bind="text: partNumber()"></td>
                            <td width="20%" nowrap="nowrap" data-bind="text: customerPrice()"> Ft</td>
                            <td width="20%" nowrap="nowrap"><input data-bind="value: quantity, valueUpdate: 'afterkeydown'" style = "width: 35px; margin: 2px 0 0 6px" /> db</td>
                            <td width="20%"><span data-bind="text: itemTotal()"></span> Ft</td>
                            <td nowrap="nowrap"><img src="@Url.Content("~/Media/images/basketicons/attention.png")" border="0" title="Kötelező érvényű megrendelés!" alt=""/>&nbsp;</td>
                            <td nowrap="nowrap"><a href="javascript:void(0)" data-bind="click: function() { $parent.shoppingCart.updateLine($data); }" title="Tétel mennyiség módosítása"><img src="@Url.Content("~/Media/images/basketicons/edit.png")" style="border:0px" alt="" /></a>&nbsp;</td>
                            <td nowrap="nowrap"><a href="javascript:void(0)" data-bind="click: function() { $parent.shoppingCart.removeLine($data); }" title="Tétel törlése"><img src="@Url.Content("~/Media/images/basketicons/b_delete.png")" border="0" alt="" /></a></td>
                        </tr>
                        <!-- /ko -->
                        <tr>
                            <td colspan="8"><hr />
                              <span></span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="8"><!-- Végösszeg: <span data-bind="text: shoppingCart.sumTotal()"></span> Ft |  Áfa: <span data-bind="text: shoppingCart.sumTotal()"></span> Ft | --> <strong>Fizetendő: <span style="color:#900; font-size:14px;"><span data-bind="text: shoppingCart.sumTotal()"></span> Ft</span></strong></td>
                        </tr>
                    </tbody>
                    </table>
                    }
                </div>

    <script id="shoppingCartTemplate" type="text/x-jquery-tmpl">

    <table width="974" border="0" cellspacing="1" cellpadding="3">
        <tr>
        <td><strong>Temék neve</strong></td>
        <td><strong>Azonosító</strong></td>
        <td><strong>Egység ár</strong></td>
        <td><strong>Mennyiség</strong></td>
        <td><strong>Összesen</strong></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        </tr>
        {{each( i, item ) Items}}
        <tr>
        <td width="20%"nowrap="nowrap">${item.ProductId}</td>
        <td width="20%"nowrap="nowrap">${item.PartNumber}</td>
        <td width="20%" nowrap="nowrap">${item.CustomerPrice} Ft</td>
        <td width="20%" nowrap="nowrap"><input type="textbox" name="txt_quantity" value="${item.Quantity}" style="width: 35px; margin: 2px 0 0 6px"/> db</td>
        <td width="20%">${item.Price} Ft</td>
        <td nowrap="nowrap"><img src="@Url.Content("~/Media/images/basketicons/attention.png")" border="0" title="Kötelező érvényű megrendelés!" alt=""/>&nbsp;</td>
        <td nowrap="nowrap"><a href="javascript:void(0)" onclick="update_cart()" title="Tétel mennyiség módosítása"><img src="@Url.Content("~/Media/images/basketicons/edit.png")" style="border:0px" alt="" /></a>&nbsp;</td>
        <td nowrap="nowrap"><a href="javascript:void(0)" onclick="delete_cart()" title="Tétel törlése"><img src="@Url.Content("~/Media/images/basketicons/b_delete.png")" border="0" alt="" /></a></td>
        </tr>
        {{/each}}
        <tr>
        <td colspan="8"><hr /></td>
        </tr>
        <tr>
        <td colspan="8">
    	
        <!-- Végösszeg: ${SumTotal} Ft |  Áfa: 4 838,00 Ft | --> <strong>Fizetendő: <span style="color:#900; font-size:14px;">22 758,00 Ft</span></strong>

        </td>
        </tr>
    </table>
    </script>
                <div id="cus_checkout_menu">
                  <table width="984" border="0" cellpadding="3" cellspacing="1">
                  <tr>
                    <td>
    	
    	                <table width="984" border="0" cellspacing="1" cellpadding="0">
                  <tr>
                    <td nowrap="nowrap">&nbsp;<img src="@Url.Content("~/Media/images/basketicons/chck.png")"/>&nbsp;</td>
                    <td nowrap="nowrap"><span id="feladas_link"><strong>Rendelés feladása</strong></span>&nbsp;&nbsp;</td>
                    <td nowrap="nowrap"><img src="@Url.Content("~/Media/images/basketicons/bid.png")"/>&nbsp;</td>
                    <td nowrap="nowrap"><span id="ajanlat_veg_link"><strong>Végfelhasználói árajánlat készítése</strong></span>&nbsp;&nbsp;</td>
                    <td nowrap="nowrap"><img src="@Url.Content("~/Media/images/basketicons/bid.png")"/>&nbsp;</td>
                    <td nowrap="nowrap" width="100%"><span id="ajanlat_finance_link"><strong>HRP Finance árajánlat készítése</strong></span>&nbsp;</td>
                  </tr>
                </table>
    	
                    </td>
                  </tr>
                </table>
                </div>
	<div id="cus_rendeles_feladas">
	
	<form>
	  <table width="980" border="0" cellpadding="3" cellspacing="2">
	  <tr>
        <td nowrap="nowrap"><strong> Fizetési opciók</strong></td>
        <td nowrap="nowrap">&nbsp;</td>
        <td nowrap="nowrap"><strong>Szállítási opciók</strong></td>
        <td nowrap="nowrap"><strong>Szállítási adatok</strong></td>
  </tr>
<!--   <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr> -->
  <tr>
        <td valign="top" style="width:160px; height:37px;"><div id="keszpenz_off"></div>
          <div id="kos_gombok_fiz">
            <input type="radio" name="radio_fizetesimod" id="radio_fizetesimod" value="1" />
            Készpénzes fizetés <br />
            <strong style="font-size: 10px;">[22 758,00 Ft]</strong> </div></td>
        <td valign="top"  style="width:160px; height:37px;"><div id="eloreutalas_off"></div>
          <div id="kos_gombok_fiz">
            <input type="radio" name="radio_fizetesimod" id="radio_fizetesimod" value="3" />
            Előreutalás </div></td>
        <td valign="top"  style="width:160px; height:37px;"><div id="raktari_off"></div>
          <div id="kos_gombok_szall">
            <input type="radio" name="radio_szallitasimod" id="radio_szallitasimod" value="1" />
        Raktári átvétel </div></td>
        <td><!--<div id="cim_off"></div> <div id="kos_gombok_szalladat">Szállítási cím<br /><input type="checkbox" name="chk_cim" id="chk_cim" /> [Jóváhagyás]</div> -->
     <div id="szallcimadat_off"></div>	
    <div id="szallcimadat">
    	
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="szalladatok_tabla">
              <tr>
                <td width="100%" valign="top"><strong>Kiszállítási cím</strong><br />
											<br />
											
											<select style="width: 280px; border: 1px solid #fff; font-size: 15px; color:#999; background: #fff; padding: 6px;">
												<option style="padding-top: 5px;">7540 Vérteserdősmakkosmária-alsó Kossuth Lajos utca 123/b II. em. 124m</option>
												<option style="padding: 2px;">7540 Vérteserdősmakkosmária-alsó Kossuth Lajos utca 123/b II. em. 124m</option>
												<option style="padding: 2px;">7540 Vérteserdősmakkosmária-alsó Kossuth Lajos utca 123/b II. em. 124m</option>
												<option style="padding: 2px;">7540 Vérteserdősmakkosmária-alsó Kossuth Lajos utca 123/b II. em. 124m</option>
												<option style="padding: 2px; background: #333; color: #fff;" >Új telephely felvétele</option>
											</select>
											</td>
											<td align="right" valign="top"><strong>Szállítási időpont</strong>
											<br />
											<br />
											<input name="naptar" id="naptar" type="text" value="Kattintson ide" onfocus="if(this.value=='Kattintson ide')this.value=''" onblur="if(this.value=='')this.value='Kattintson ide'" />
											</td>
              </tr>
            </table>
    </div></td>
  </tr>
      <tr>
        <td valign="top"  style="width:160px; height:37px;"><div id="atutalas_off"></div>
          <div id="kos_gombok_fiz">
            <input type="radio" name="radio_fizetesimod" id="radio_fizetesimod" value="2" />
            Átutalásos fizetés <br />
            <strong style="font-size: 10px;">[20 500,00 Ft]</strong> </div></td>
        <td valign="top"  style="width:160px; height:37px;"><div id="utanvet_off"></div>
          <div id="kos_gombok_fiz">
            <input type="radio" name="radio_fizetesimod" id="radio_fizetesimod" value="4" />
            Utánvét </div></td>
        <td valign="top"  style="width:160px; height:37px;"><div id="kiszallitas_off"></div>
          <div id="kos_gombok_szall">
            <input type="radio" name="radio_szallitasimod" id="radio_szallitasimod" value="2" />
            Kiszállítást kér </div></td>
        <td>&nbsp;</td>
        </tr>
      <tr>
        <td colspan="4">
        <table id="basket_foot" width="970" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td valign="top"> Egyedi rendelés azonosító<br />
              <input type="text" name="custom_number" value="" id="custom_number" disabled="true"/>
              <br /></td>
            <td width="100%" valign="top" style="padding-left:5px;"> Megjegyzés<br />
              <input type="text" name="user_comment" id="user_comment" disabled="true" /></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td colspan="4"><div id="basket_buttons">
          <input type="reset" name="nullazo" id="nullazo" value="Módosít" onclick="nullazo();" class="feladasopciok_nullaz" />
          <input type="submit" name="feladas" id="feladas" value="Feladás"  class="feladasopciok_block" disabled="true" />
        </div>
          Ha rendelési listájában, valamely termék mellett <img src="@Url.Content("~/media/images/basketicons/attention.png")" border="0"/ title="Kötelező érvényű megrendelés!" /> ikont lát, az a kötelező érvényű megrendelést jelöli. Ennek szabálya értelmében... blah... blah... blah...</td>
      </tr>
      </table>
	</form>

	
	</div>
				<div id="cus_ajanlat_vegfelhasznalo">
					Végfelhasználói árajánlat készítése
				</div>
				<div id="cus_ajanlat_finance">
					HRP Finance árajánlat készítése
				</div>
				<!-- *** felső kosár panel div vége *** -->
			</div>
			
			<!-- ez a div kezdő tag a shop mudul eleje. a catalogue/index.cshtml fájlban van a záró tag -->
			<div id="cus_catalogue_container">
				@if (Model.Featured != null)
    {
				<div id="layout-featured" class="group">
					@Zone(Model.Featured)
				</div>
    }
				@if (Model.BeforeMain != null)
    {
				<div id="layout-before-main" class="group">
					@Zone(Model.BeforeMain)
				</div>
    }
				<div id="layout-main-container">
					<div id="layout-main" class="group">
						@if (Model.AsideFirst != null)
      {
						<aside id="aside-first" class="aside-first group">
							@Zone(Model.AsideFirst)
						</aside>
      }
						<div id="layout-content" class="group">
							@if (Model.Messages != null)
       {
							<div id="messages">
								@Zone(Model.Messages)
							</div>
       }
							@if (Model.BeforeContent != null)
       {
							<div id="before-content">
								@Zone(Model.BeforeContent)
							</div>
       }
							<div id="preloader">
								loadnig...
							</div>
							@* the model content for the page is in the Content zone @ the default position (nothing, zero, zilch) *@
							@if (Model.Content != null)
       {
							<div id="content" class="group">
								@Zone(Model.Content)
							</div>
       }
							@if (Model.AfterContent != null)
       {
							<div id="after-content">
								@Zone(Model.AfterContent)
							</div>
       }
						</div>
						@if (Model.AsideSecond != null)
      {
						<aside id="aside-second" class="aside-second">
							@Zone(Model.AsideSecond)
						</aside>
      }
					</div>
				</div>
				@if (Model.AfterMain != null)
    {
				<div id="layout-after-main" class="group">
					@Zone(Model.AfterMain)
					<table id="cus_copyright" border="0" cellpadding="0" cellspacing="0" width="990" align="center">
						<tbody>
							<tr>
								<td class="cus_copyright_table_small_text" colspan="2" align="center"><a href="#">felhaszn&aacute;l&aacute;si felt&eacute;telek</a> &bull; <a href="#">adatv&eacute;delmi nyilatkozat</a> &bull; <a href="#">sz&aacute;ll&iacute;t&aacute;si &eacute;s fizet&eacute;si felt&eacute;telek</a> &bull; <a href="#">vissz&aacute;ru felt&eacute;telek</a> &bull; <a href="#">garancia &eacute;rv&eacute;nyes&iacute;t&eacute;se</a> &bull; <a href="#">v&aacute;s&aacute;rl&aacute;s a web&aacute;ruh&aacute;zban</a>
								<hr />
								</td>
							</tr>
							<tr>
								<td>k&eacute;p helye</td>
								<td class="cus_copyright_table_small_text" align="center">Az &aacute;rak az &Aacute;F&Aacute;-t nem tartalmazz&aacute;k &eacute;s a mindenkori doll&aacute;r, illetve euro &aacute;rfolyam f&uuml;ggv&eacute;ny&eacute;ben v&aacute;ltozhatnak. Az akci&oacute;k a felt&uuml;ntetett időpontig, illetve visszavon&aacute;sig &eacute;rv&eacute;nyesek. Az &aacute;rv&aacute;ltoztat&aacute;s jog&aacute;t fenntartjuk. Az oldal tartalm&aacute;nak felhaszn&aacute;l&aacute;s&aacute;hoz, m&aacute;sol&aacute;s&aacute;hoz az oldal tulajdonos&aacute;nak enged&eacute;lye sz&uuml;ks&eacute;ges. &copy;2002-2011 HRP Hungary Kft. Minden jog fenntartva.</td>
							</tr>
						</tbody>
					</table>
				</div>
    }
				@if (Model.TripelFirst != null || Model.TripelSecond != null || Model.TripelThird != null)
    {
				<div id="layout-tripel-container">
					<div id="layout-tripel" class="group">
						@* as in beer *@
						@if (Model.TripelFirst != null)
      {
						<div id="tripel-first">
							@Zone(Model.TripelFirst)
						</div>
      }
						@if (Model.TripelSecond != null)
      {
						<div id="tripel-second">
							@Zone(Model.TripelSecond)
						</div>
      }
						@if (Model.TripelThird != null)
      {
						<div id="tripel-third">
							@Zone(Model.TripelThird)
						</div>
      }
					</div>
				</div>
    }
				<div id="layout-footer" class="group">
					<footer id="footer">
						<div id="footer-quad" class="group">
							@if (Model.FooterQuadFirst != null)
       {
							<div id="footer-quad-first">
								@Zone(Model.FooterQuadFirst)
							</div>
       }
							@if (Model.FooterQuadSecond != null)
       {
							<div id="footer-quad-second">
								@Zone(Model.FooterQuadSecond)
							</div>
       }
							@if (Model.FooterQuadThird != null)
       {
							<div id="footer-quad-third">
								@Zone(Model.FooterQuadThird)
							</div>
       }
							@if (Model.FooterQuadFourth != null)
       {
							<div id="footer-quad-fourth">
								@Zone(Model.FooterQuadFourth)
							</div>
       }
						</div>
						@if (Model.Footer != null)
      {
						<div id="footer-sig" class="group">
							@Zone(Model.Footer)
						</div>
      }
					</footer>
				</div>

			</div>
			<!-- Kosár impor ablak -->
			<div style="display: none;">
<div id="import_basket_list_win">
				<form id="basketlist_import" name="basketlist_import" enctype="multipart/form-data" method="post" action="">
				  <strong>Lista fájl importálása kosárba</strong><br /><br />
				  <table border="0" cellspacing="3" cellpadding="10">
				    <tr>
				      <td>Fájl kiválasztása</td>
				      <td><input type="file" name="import_basket_file" id="import_basket_file" /></td>
				    </tr>
				    <tr>
				      <td>Kosár elnevezése</td>
				      <td><input type="text" size="32" name="import_basket_name" id="import_basket_name" disabled="disabled" /></td>
				    </tr>
				    <tr>
				      <td>&nbsp;</td>
				      <td><input type="submit" name="button" id="button" value="Feltöltés indítása" /></td>
				    </tr>
				  </table>
				</form>
			</div>
			</div>
			
			<!-- kosár mentése ablak -->
			<div style="display: none;">
                <div id="save_basket_win">
				    <form id="form_savecart" enctype="multipart/form-data" method="post" action="@Url.Content("~/ShoppingCart/SaveCart")">
				      <strong>Kosár mentése</strong><br /><br />
                      <div id="savecart_errors"></div>
				      <table border="0" cellspacing="3" cellpadding="10">
				        <tr>
				          <td>Kosár elnevezése</td>
				          <td><input type="text" size="32" name="txt_cartname" id="txt_cartname" />
                          <label class="error" for="txt_cartname" generated="true" style="display:none; color:#900;">A kosárnév kitöltése kötelező</label>
                          </td>
				        </tr>
				        <tr>
				          <td>&nbsp;</td>
				          <td><input type="submit" value="Kosár mentése" /></td>
				        </tr>
				      </table>
				    </form>
			    </div>
			</div>
			
			<!-- bejelentkezés ablak -->
			<div style="display: none;">
				<div id="div_login">
					@using (Html.BeginFormAntiForgeryPost(Url.Action(Url.Content("~/Customer/SignIn")), System.Web.Mvc.FormMethod.Post, new { id = "form_login" }))
                    { <div id="login_errors"></div>
					<table width="470" border="0" align="center" cellpadding="10" cellspacing="1" >
						<tr>
							<td colspan="2" nowrap="nowrap"><h3>Bejelentkezés regisztrált partnereink részére</h3></td>
						</tr>
						<tr>
							<td>Felhasználónév</td>
							<td>@Html.TextBox("txt_username", "", new { style = "padding:5px; width:200px; border:1px #bbb solid; border-radius:5px;" })
							<br />
							<br />
							<label class="error" for="txt_username" generated="true" style="display:none; color:#900;">A felhasználónév kitöltése kötelező</label></td>
						</tr>
						<tr>
							<td>Jelszó</td>
							<td>@Html.Password("txt_password", "", new { style = "padding:5px; width:200px; border:1px #bbb solid; border-radius:5px;" })
							<br />
							<br />
							<label class="error" for="txt_password" generated="true" style="display:none; color:#900;">A jelszó kitöltése kötelező</label></td>
						</tr>
						<tr>
							<td>&nbsp;</td>
							<td>
							<input type="submit" value="Belépés" style="border-radius: 5px;" />
							</td>
						</tr>
					</table>
					<table width="470" border="0" align="center" cellpadding="10" cellspacing="0" style="background:#333; color:#999; " >
						<tr>
							<td width="100%"><a href="#" style="color:#fff; text-decoration: none;">Elfelejtett jelszó</a></td>
							<td align="right" nowrap="nowrap"> Még nem partnerünk? <a href="#" style="color:#fff; text-decoration: none;">Regisztráljon!</a></td>
						</tr>
					</table>
                }
				</div>
			</div>

@tag.EndElement