    @model Cms.Webshop.Models.CatalogueItem
    
		<div id="cus_catalogue_left">
			<div id="cus_banner_table">
			<form method="post" action="" id="frm_structure">
				<div id="container">
					<div id="cus_filter_price">
						<!-- ide kell befaragni valahogy az ASIDEFIRST gyári modult -->
						Ár szerinti keresés
						<br />
						<select name="selectPriceFilter" id="selectPriceFilter" style="margin-top:4px; padding:4px; border-radius:3px; font-size:13px; border: #ccc 1px solid; color:#666;">
							<option value="1">&gt;=</option>
							<option value="2">&lt;=</option>
						</select>
						<input name="txtPriceFilter" type="text" id="txtPriceFilter" size="9" style="margin-top:4px; padding:5px; border-radius:3px; font-size:13px; border: #ccc 1px solid; color:#666;"/>
						<!-- <input type="submit" name="button" id="button" value="Keres" /> -->
						<div id="cus_refresh_icon">
							Frissítés<!-- <img src="@Url.Content("~/Media/images/refresh.png")" /> -->
						</div>
					</div>
					<div id="cus_filter_1">
						Gyártók kiválasztása
						<br />
						<select id="manufacturerList" data-placeholder="Gyártók..." class="chosen" multiple style="width:270px;">
							<option value=""></option>
							@foreach (var manufacturer in @Model.Structures.Manufacturers)
                            { 
                                <option value="@manufacturer.Id">@manufacturer.Name </option>
                            }
						</select>
					</div>
					<div id="cus_filter_2">
						Jelleg 1 kiválasztása
						<br />
						<select id="category1List" data-placeholder="Jelleg - 1..." class="chosen" multiple style="width:270px;">
							<option value=""></option>
							@foreach (var category1 in @Model.Structures.FirstLevelCategories)
                            { 
                                <option value="@category1.Id">@category1.Name</option>
                            }
						</select>
					</div>
					<div id="cus_filter_3">
						Jelleg 2 kiválasztása
						<br />
						<select id="category2List" data-placeholder="Jelleg - 2..." class="chosen" multiple style="width:270px;">
							<option value=""></option>
							@foreach (var category2 in @Model.Structures.SecondLevelCategories)
                            { 
                                <option value="@category2.Id">@category2.Name</option>
                            }
						</select>
					</div>
					<div id="cus_filter_4">
						Paraméterek szűrése 1 (többszöröződik)
						<br />
						<select id="category3List" data-placeholder="Paraméter 1..." class="chosen" multiple style="width:270px;">
							<option value=""></option>
						</select>
					</div>
				</div>
			</form>
			@*<div id="cus_parameter_panel"></div>
			*@
				
			</div>
		</div>
   
				<div id="cus_catalogue_right">
					<div id="cus_product_table">
						<table width="100%" border="0" cellspacing="1" cellpadding="1">
							<tr>
								<td valign="top">
								<div id="cus_termekkep">
                                    @if (Model.Product.Pictures.Items.Count > 0)
                                    {
                                        <a class="popupimg" href="@String.Format("http://localhost/CompanyGroup.ServicesHost/PictureService.svc/GetItem/{0}/{1}/{2}/{3}/{4}", Model.Product.PrimaryPicture.RecId,  Model.Product.ProductId, "hrp", "94", "69")" width="94" height="69"><img src="@String.Format("http://localhost/CompanyGroup.ServicesHost/PictureService.svc/GetItem/{0}/{1}/{2}/{3}/{4}", Model.Product.PrimaryPicture.RecId,  Model.Product.ProductId, "hrp", "94", "69")" width="94" height="69" alt="" /></a>
                                    }
                                    else
                                    { 
                                        <img src="@Url.Content("~/Media/images/nopic.jpg")" width="94" height="69" alt="" />
                                    }                                     
								</div></td>
								<td valign="top" id="cus_prod_table_middle_cell"><span id="cus_prod_table_item_name">@Model.Product.ItemName</span><span id="cus_prod_table_item_code">| @Model.Product.ProductId</span>
								<br />
								<div id="cus_prod_table_desc_full">
                                    @if (Model.Visitor.IsValidLogin)
                                    {
									    if (Model.Product.Bargain) { <span>használt</span>} <br/>  <!-- ha a cikk leertekelt, akkor megjelenik a hasznalt felirat -->  
                                        if (Model.Product.Discount) { <span>leértékelt</span>} <br/>   <!-- ha a cikk leertekelt, akkor megjelenik a hasznalt felirat -->
                                        <span>Garancia módja:</span><br/> @Model.Product.GarantyMode <br/>
                                        <span>Garancia ideje:</span> @Model.Product.GarantyTime <br/>
 
                                         if (Model.Product.ItemState.Equals(1)) { <span>kifutó</span><br/>}     <!-- ha a cikk kifuto, akkor megjelenik a kifuto felirat -->
                                         if (Model.Product.New) { <span>Új</span><br/>}    <!-- ha a cikk uj, akkor megjelenik az uj felirat -->
                                         if (!Model.Product.IsInStock)
                                         {
                                            <span>Várható beérkezés dátuma:</span>  @String.Format("{0} db ", Model.Product.ShippingDate) <br/>
                                         }
                                         if (Model.Product.Special)
                                         { <span>Speciális akció</span>} <br/>                                                                                                                                                                                                                            
                                    }   
                                    <span>Gyártó:</span> @Model.Product.Manufacturer.Name <br/>                                       
                                    <span>Jelleg1:</span> @Model.Product.FirstLevelCategory.Name <br/>
                                    <span>Jelleg2:</span> @Model.Product.SecondLevelCategory.Name <br/>
                                    <span>Jelleg3:</span> @Model.Product.ThirdLevelCategory.Name <br/>
                                    <span>Cikkszám:</span> @Model.Product.PartNumber <br/>
                                    <span>Leírás:</span> @Model.Product.Description <br/> 
									<hr />
                                    <span>Termékmanager email:</span> <a href="mailto:@Model.Product.ProductManager.Email">@Model.Product.ProductManager.Email</a> <br/>
                                    <span>Termékmanager telefon:</span> @Model.Product.ProductManager.Extension <br/>
                                    <span>Termékmanager mobile:</span> @Model.Product.ProductManager.Mobile <br/>
                                    <span>Termékmanager név:</span> @Model.Product.ProductManager.Name <br/>
   								</div></td>
								<td valign="top" nowrap="nowrap">
                                @if (Model.Visitor.IsValidLogin)
                                { 
								<table width="130" border="0" cellspacing="1" cellpadding="2">
									<tr>
										<td nowrap="nowrap" id="cus_prod_table_price">
                                            <span>Ár:</span> <strong>@String.Format(System.Globalization.CultureInfo.CurrentUICulture, "{0 : C}", Model.Product.Price) @Model.Product.Currency</strong> }</td>
									</tr>
									<tr>
										<td nowrap="nowrap">
                                            <span>Belső készlet:</span> @String.Format("{0} db ", Model.Product.InnerStock)<br />
                                            <span>Külső készlet:</span> @String.Format("{0} db ", Model.Product.OuterStock)<br />
										    <span>Használt: 4 600 Ft-tól</span>
                                        </td>
									</tr>
									<tr>
										<td nowrap="nowrap">&nbsp;</td>
									</tr>
								</table>}</td>
							</tr>
							<tr>
								<td colspan="3" valign="top" id="cus_prod_table_more_full">
                                @if (Model.Visitor.IsValidLogin)
                                {
								<table width="100%" border="0" cellspacing="1" cellpadding="5">
									<tr>
										<td nowrap="nowrap">
										<div id="cus_prod_table_add_compare">
											<input type="checkbox" name="checkbox2" id="checkbox2" />
											Összehasonlító listához ad
										</div></td>
										<td nowrap="nowrap">
										<div id="cus_prod_table_quantity">
											<input name="textfield" type="text" id="textfield" value="0" size="2" />
											db
										</div></td>
										<td nowrap="nowrap">@String.Format(System.Globalization.CultureInfo.CurrentUICulture, "{0 : C}", Model.Product.Price); Ft</td>
										<td nowrap="nowrap"><strong>Ft</strong> / &#8364;</td>
										<td width="100%" align="right">
										<div class="cus_prod_table_basket" @Model.Product.IsInCart ? style="background-color:Lime" : style="background-color:White">
                                            
											<a id="basketicon" href="javascript:void(0);">Kosárba <img class="basketicon" src="@Url.Content("~/Media/images/basket.png")" alt="kosár" width="16" height="20" border="0" align="absmiddle" /></a>
										</div></td>
									</tr>
								</table>}</td>
							</tr>
						</table>
						<!-- ************************************************************** tab panel ************************************************************* -->
						<div id="wrapper">
							<ul class="tabs">
								<li>
									<a href="#" class="defaulttab" rel="tabs1">Hasonló termékek</a>
								</li>
								<li>
									<a href="#" rel="tabs2">Kapcsolódó termékek</a>
								</li>
								<li>
									<a href="#" rel="tabs3">Legnépszerűbb párosítások</a>
								</li>
							</ul>
							<div class="tab-content" id="tabs1">
								<a href="#">- Toshiba c660-13 notebook</a>
								<br />
								<a href="#">- Toshiba c660-14 notebook</a>
								<br />
								<a href="#">- Toshiba c660-15 notebook</a>
								<br />
								<a href="#">- ACER TM-13 notebook</a>
								<br />
								<a href="#">- FUJITSU Lifebook-15 notebook</a>
								<br />
								<a href="#">- SONY vaio 14" notebook</a>
							</div>
							<div class="tab-content" id="tabs2">
								<a href="#">- Toshiba c660 hálózati töltő</a>
								<br />
								<a href="#">- Toshibac660 akkumulátor</a>
								<br />
								<a href="#">- Toshiba c660 dokkoló</a>
							</div>
							<div class="tab-content" id="tabs3">
								<a href="#">- LG 2340 Monitor</a>
								<br />
								<a href="#">- CANON 5030 tintasugaras nyomtató</a>
							</div>
						</div>
						<!-- ******************************************************** recommended products panel ********************************************************* -->
						<div id="cus_recommended_prod_container">
				<h4>Ajánlott termékeink</h4>
				<ul id="cus_recommended_prod_content">
					<li>
						<a href="#"><img src="@Url.Content("~/Media/images/1.jpg")" width="120" height="78"  alt="" /></a><span>Első</span>
					</li>
					<li>
						<a href="#"><img src="@Url.Content("~/Media/images/2.jpg")" width="120" height="78"  alt="" /></a><span>Második</span>
					</li>
					<li>
						<a href="#"><img src="@Url.Content("~/Media/images/3.jpg")" width="120" height="78"  alt="" /></a><span>Harmadik</span>
					</li>
					<li>
						<a href="#"><img src="@Url.Content("~/Media/images/4.jpg")" width="120" height="78"  alt="" /></a><span>Negyedik</span>
					</li>
					<li>
						<a href="#"><img src="@Url.Content("~/Media/images/5.jpg")" width="120" height="78"  alt="" /></a><span>Ötödik</span>
					</li>
					<li>
						<a href="#"><img src="@Url.Content("~/Media/images/6.jpg")" width="120" height="78"  alt="" /></a><span>Hatodik</span>
					</li>
					<li>
						<a href="#"><img src="@Url.Content("~/Media/images/7.jpg")" width="120" height="78"  alt="" /></a><span>Hetedik</span>
					</li>
					<li>
						<a href="#"><img src="@Url.Content("~/Media/images/1.jpg")" width="120" height="78"  alt="" /></a><span>Nyolcadik</span>
					</li>
					<li>
						<a href="#"><img src="@Url.Content("~/Media/images/2.jpg")" width="120" height="78"  alt="" /></a><span>Kilencedik</span>
					</li>
					<li>
						<a href="#"><img src="@Url.Content("~/Media/images/1.jpg")" width="120" height="78"  alt="" /></a><span>Tizedik</span>
					</li>
					<li>
						<a href="#"><img src="@Url.Content("~/Media/images/2.jpg")" width="120" height="78"  alt="" /></a><span>Tizenegyedik</span>
					</li>
					<li>
						<a href="#"><img src="@Url.Content("~/Media/images/3.jpg")" width="120" height="78"  alt="" /></a><span>Tizenkettedik</span>
					</li>
					<li>
						<a href="#"><img src="@Url.Content("~/Media/images/4.jpg")" width="120" height="78"  alt="" /></a><span>Tizenharmadik</span>
					</li>
					<li>
						<a href="#"><img src="@Url.Content("~/Media/images/5.jpg")" width="120" height="78"  alt="" /></a><span>Tizennegyedik</span>
					</li>
					<li>
						<a href="#"><img src="@Url.Content("~/Media/images/6.jpg")" width="120" height="78"  alt="" /></a><span>Tizenötödik</span>
					</li>
					<li>
						<a href="#"><img src="@Url.Content("~/Media/images/7.jpg")" width="120" height="78"  alt="" /></a><span>Tizenhatodik</span>
					</li>
				</ul>
			</div>
						
			@* ajánlott termékek blokk div vége *@
		</div>
	</div>
	</div> <!-- itt záródik be a layout.cshtml-ben kinyitott "cus_catalogue_container" div -->
	<table id="cus_copyright" border="0" cellpadding="0" cellspacing="0" width="990" align="center">
		<tbody>
			<tr>
				<td class="cus_copyright_table_small_text" colspan="2" align="center"><a href="#">felhaszn&aacute;l&aacute;si felt&eacute;telek</a> &bull; <a href="#">adatv&eacute;delmi nyilatkozat</a> &bull; <a href="#">sz&aacute;ll&iacute;t&aacute;si &eacute;s fizet&eacute;si felt&eacute;telek</a> &bull; <a href="#">vissz&aacute;ru felt&eacute;telek</a> &bull; <a href="#">garancia &eacute;rv&eacute;nyes&iacute;t&eacute;se</a> &bull; <a href="#">v&aacute;s&aacute;rl&aacute;s a web&aacute;ruh&aacute;zban</a>
				<hr />
				</td>
			</tr>
			<tr>
				<td><img src="@Url.Content("~/Media/images/iso.jpg")" /></td>
				<td class="cus_copyright_table_small_text" align="center">Az &aacute;rak az &Aacute;F&Aacute;-t nem tartalmazz&aacute;k &eacute;s a mindenkori doll&aacute;r, illetve euro &aacute;rfolyam f&uuml;ggv&eacute;ny&eacute;ben v&aacute;ltozhatnak. Az akci&oacute;k a felt&uuml;ntetett időpontig, illetve visszavon&aacute;sig &eacute;rv&eacute;nyesek. Az &aacute;rv&aacute;ltoztat&aacute;s jog&aacute;t fenntartjuk. Az oldal tartalm&aacute;nak felhaszn&aacute;l&aacute;s&aacute;hoz, m&aacute;sol&aacute;s&aacute;hoz az oldal tulajdonos&aacute;nak enged&eacute;lye sz&uuml;ks&eacute;ges. &copy;2002-2011 HRP Hungary Kft. Minden jog fenntartva.</td>
			</tr>
		</tbody>
	</table>
			