@model Cms.CommonCore.Models.Visitor
@using (Script.Head())
{
    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            CompanyGroupCms.Constants.Instance().setWebshopBaseUrl('@Url.Content("~/Webshop/Catalogue/")');
            CompanyGroupCms.Constants.Instance().setStructureServiceUrl('@Url.Content("~/Webshop/Catalogue/GetStructure")');
            CompanyGroupCms.Constants.Instance().setProductListServiceUrl('@Url.Content("~/Webshop/Catalogue/GetProducts")');
            CompanyGroupCms.Constants.Instance().setPictureListServiceUrl('@Url.Content("~/Webshop/Catalogue/GetListByProduct")');
            CompanyGroupCms.Constants.Instance().setPartnerInfoServiceUrl('@Url.Content("~/PartnerInfo/ContactPerson/")');
            CompanyGroupCms.Constants.Instance().setContactPersonServiceUrl('@Url.Content("~/ContactPerson/ChangePassword/")');
            CompanyGroupCms.Constants.Instance().setShoppingCartServiceBaseUrl('@Url.Content("~/Webshop/ShoppingCart/")');
            CompanyGroupCms.Constants.Instance().setRegistrationServiceUrl('@Url.Content("~/PartnerInfo/Registration/")');
            CompanyGroupCms.Constants.Instance().setSignInServiceUrl('@Url.Content("~/PartnerInfo/Home/SignIn")');
            CompanyGroupCms.Constants.Instance().setSignOutServiceUrl('@Url.Content("~/PartnerInfo/Home/SignOut")');
            CompanyGroupCms.Constants.Instance().setDownloadPriceListServiceUrl('@Url.Content("~/Webshop/Catalogue/DownloadPriceList")');
            CompanyGroupCms.Constants.Instance().setModule('partnerinfo');
            var model = @(Html.Raw(Json.Encode(Model)));
            console.log(model);

            CompanyGroupCms.Visitor.Instance().Set(model);

            $("#changePasswordContainer").empty();
            $("#changePasswordTemplate").tmpl(model).appendTo("#changePasswordContainer");

            $("#form_changepassword").validate({
                submitHandler: function () {
                    CompanyGroupCms.VisitorInfo.ChangePassword();
                    return false;
                },
                invalidHandler: function (e, validator) {
                    var errors = validator.numberOfInvalids();
                    if (errors) {
                        var message = errors > 1 ? 'Az űrlap kitöltése nem megfelelő! (' + errors + ' hiba)' : '';
                        $("#changepassword_errors").html(message);
                        $("#changepassword_errors").show();
                    } else {
                        $("#changepassword_errors").hide();
                    }
                },
                //errorLabelContainer: $("#changepassword_errors"),
                rules: {
                    txt_username: {
                        required: true
                    },
                    txt_oldpassword: {
                        required: true
                    },
                    txt_newpassword: {
                        required: true
                    },
                    txt_confirmpassword: {
                        required: true
                    }
                },
                messages: {
                    txt_username: "A felhasználónév kitöltése kötelező!",  
                    txt_oldpassword: "A régi jelszó kitöltése kötelező!",
                    txt_newpassword: "Az új jelszó kitöltése kötelező!", 
                    txt_confirmpassword: "A jelszó megerősítés kitöltése kötelező!"
                }
            }); 
        });
    </script>
}  
<h2>JELSZÓMÓDOSÍTÁS</h2><img src="@Url.Content("~/Media/images/dashboard_03.png")" width="44" height="44" alt="" /><br/><hr noshade="noshade" size="1" />
    <div id="changePasswordContainer"></div>
    <script id="changePasswordTemplate" type="text/x-jquery-tmpl">  
    {{if IsValidLogin}} 
        
        @using (Html.BeginFormAntiForgeryPost(Url.Action(Url.Content("~/PartnerInfo/ChangePassword")), System.Web.Mvc.FormMethod.Post, new { id = "form_changepassword" })) {     
        <table width="550" border="0" cellpadding="3" cellspacing="2">
        {{if PersonId.length > 0}}
        <tr>
            <td colspan="4">Kérjük adja meg felhasználónevét, régi jelszavát és a felhasználni kívánt új jelszavát, majd válassza az "elküld" parancsot. 
                            A rendszer az adatok ellenőrzését követően elvégzi a jelszómódosítást, majd annak eredményéről értesítést küld.<br/><br/></td>
        </tr>
        <tr>
            <td></td>
            <td colspan="3"><div id="changepassword_errors"></div>
            </td>
        </tr>
        <tr>
            <td>Felhasználónév: </td>
            <td>
                @Html.TextBox("txt_username", "", new { style = "padding:5px; width:200px; border:1px #bbb solid; border-radius:5px;" }) <br/>
            </td>
            <td style="color:#900;">*</td>
            <td>
                <label class="error" for="txt_username" generated="true" style="display:none; color:#900;">A felhasználónév kitöltése kötelező</label>
            </td>
        </tr>
        <tr>
            <td>Régi jelszó: </td>
            <td>
                @Html.TextBox("txt_oldpassword", "", new { style = "padding:5px; width:200px; border:1px #bbb solid; border-radius:5px;" }) <br/>
            </td>
            <td style="color:#900;">*</td>
            <td>
                <label class="error" for="txt_oldpassword" generated="true" style="display:none; color:#900;">A régi jelszó kitöltése kötelező</label>
            </td>
        </tr>
        <tr>
            <td>Új jelszó: </td>
            <td>
                @Html.TextBox("txt_newpassword", "", new { style = "padding:5px; width:200px; border:1px #bbb solid; border-radius:5px;" }) <br/>
            </td>
            <td style="color:#900;">*</td>
            <td>
                <label class="error" for="txt_newpassword" generated="true" style="display:none; color:#900;">Az új jelszó kitöltése kötelező</label>
            </td>
        </tr>
        <tr>
            <td>Jelszó megerősítése: </td>
            <td>
                @Html.TextBox("txt_confirmpassword", "", new { style = "padding:5px; width:200px; border:1px #bbb solid; border-radius:5px;" })
            </td>
            <td style="color:#900;">*</td>
            <td>
                <label class="error" for="txt_confirmpassword" generated="true" style="display:none; color:#900;">A jelszó megerősítés kitöltése kötelező</label>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Elküld" style="border-radius: 5px;" />
            </td>
            <td></td>
            <td>
                
            </td>
        </tr>
        {{else}}
        <tr>
            <td><img src="@Url.Content("~/Media/images/dashboard_01.png")" width="46" height="44" alt="" /></td>
            <td><div id="dashboardtext">@Html.ActionLink("ADATLAP / MÓDOSÍTÁS", "Index", "/Registration")</div></td>
            <td><img src="@Url.Content("~/Media/images/dashboard_03.png")" width="44" height="44" alt="" /></td>
            <td>
                <div id="dashboardtext">JELSZÓVÁLTOZTATÁS</div>
                <br/>
                <div id="changepass">Ön egy cég nevében van bejelentkezve! 
                <br/><br/> céges belépéshez tartozó jelszó megváltoztatása csak a regisztrációs folyamat végigvitelével lehetséges.<br/>
                Kérjük válassza a regisztráció / cégadat módosítás funkció- adminisztrátori beállításoknál - a jelszó megadását.
                </div>
            </td>
        </tr>
        {{/if}}
        <tr>
            <td>
                <img src="@Url.Content("~/Media/images/dashboard_05.png")" width="46" height="56" alt="" /></td>
            <td>
                <img src="@Url.Content("~/Media/images/dashboard_06.png")" width="234" height="56" alt="" /></td>
            <td>
                <img src="@Url.Content("~/Media/images/dashboard_07.png")" width="44" height="56" alt="" /></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <img src="@Url.Content("~/Media/images/dashboard_13.png")" width="46" height="52" alt="" /></td>
            <td>
                <img src="@Url.Content("~/Media/images/dashboard_14.png")" width="234" height="52" alt="" /></td>
            <td>
                <img src="@Url.Content("~/Media/images/dashboard_15.png")" width="44" height="52" alt="" /></td>
            <td></td>
        </tr>
        </table>
    }
    {{else}}
    <table id="changePasswordtable" width="550" border="0" cellpadding="3" cellspacing="2">
        <tr>    
            <td><h3>Figyelem! Az oldal csak bejelentkezést követően érhető el!</h3></td>
        </tr>
        <tr>    
            <td>ACCESS DENIED KÉP...</td>
        </tr>
        <tr>    
            <td><a href="javascript:void(0)" onclick="CompanyGroupCms.VisitorInfo.ShowSignInPanel()"><strong>Bejelentkezés</strong></a></td>
        </tr>
    </table>
    {{/if}}
</script>

<table id="changePasswordSucceededResult" width="550" border="0" cellpadding="3" cellspacing="2" style="display:none">
    <tr>
        <td>A jelszómódosítás sikeresen megtörtént!<br/><br/></td>
    </tr>
    <tr>
        <td><div id="changepassword_succeededmessage"></div></td>
    </tr>
    <tr>    
        <td>SUCCEEDED KÉP...</td>
    </tr>
    <tr>    
        <td><a href="javascript:void(0)" onclick="CompanyGroupCms.VisitorInfo.ShowSignInPanel()"><strong>Bejelentkezés</strong></a></td>
    </tr>
</table>
<table id="changePasswordFailedResult" width="550" border="0" cellpadding="3" cellspacing="2" style="display:none">
    <tr>
        <td>A jelszómódosítás nem sikerült!<br/><br/></td>
    </tr>
    <tr>
        <td><div id="changepassword_failedmessage"></div></td>
    </tr>
    <tr>    
        <td>FAILED KÉP...</td>
    </tr>
    <tr>    
        <td></td>
    </tr>
</table>