@model Cms.PartnerInfo.Models.UndoChangePassword
@using (Script.Head())
{
    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            CompanyGroupCms.Constants.Instance().setWebshopBaseUrl('@Url.Content("~/Webshop/Catalogue/")');
            CompanyGroupCms.Constants.Instance().setStructureServiceUrl('@Url.Content("~/Webshop/Catalogue/GetStructure")');
            CompanyGroupCms.Constants.Instance().setProductListServiceUrl('@Url.Content("~/Webshop/Catalogue/GetProducts")');
            CompanyGroupCms.Constants.Instance().setPictureListServiceUrl('@Url.Content("~/Webshop/Catalogue/GetListByProduct")');
            CompanyGroupCms.Constants.Instance().setPartnerInfoServiceUrl('@Url.Content("~/PartnerInfo/ContactPerson/")');
            CompanyGroupCms.Constants.Instance().setContactPersonServiceUrl('@Url.Content("~/ContactPerson/ChangePassword/")');
            CompanyGroupCms.Constants.Instance().setShoppingCartServiceBaseUrl('@Url.Content("~/Webshop/ShoppingCart/")');
            CompanyGroupCms.Constants.Instance().setRegistrationServiceUrl('@Url.Content("~/PartnerInfo/Registration/")');
            CompanyGroupCms.Constants.Instance().setSignInServiceUrl('@Url.Content("~/PartnerInfo/Home/SignIn")');
            CompanyGroupCms.Constants.Instance().setSignOutServiceUrl('@Url.Content("~/PartnerInfo/Home/SignOut")');
            CompanyGroupCms.Constants.Instance().setDownloadPriceListServiceUrl('@Url.Content("~/Webshop/Catalogue/DownloadPriceList")');
            CompanyGroupCms.Constants.Instance().setModule('partnerinfo');
            var model = @(Html.Raw(Json.Encode(Model)));
            console.log(model);

            CompanyGroupCms.Visitor.Instance().Set(model.Visitor);

        });
    </script>
}  
<h2>JELSZÓMÓDOSÍTÁS VISSZAVONÁS</h2><img src="@Url.Content("~/Media/images/dashboard_03.png")" width="44" height="44" alt="" /><br/><hr noshade="noshade" size="1" />
@if (Model.Succeeded)
{
<table id="changePasswordSucceededResult" width="550" border="0" cellpadding="3" cellspacing="2">
    <tr>
        <td>A jelszómódosítás visszavonás sikeresen megtörtént!<br/><br/></td>
    </tr>
    <tr>
        <td>@Model.Message</td>
    </tr>
    <tr>    
        <td>SUCCEEDED KÉP...</td>
    </tr>
    <tr>    
        <td></td>
    </tr>
</table>
}
else {
<table id="changePasswordFailedResult" width="550" border="0" cellpadding="3" cellspacing="2">
    <tr>
        <td>A jelszómódosítás visszavonás nem sikerült!<br/><br/></td>
    </tr>
    <tr>
        <td>@Model.Message</td>
    </tr>
    <tr>    
        <td>FAILED KÉP...</td>
    </tr>
    <tr>    
        <td></td>
    </tr>
</table>
}