<H2>ADATKEZELŐ</H2><hr noshade="noshade" size="1" />
<table id="dashboardtable" width="350" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <img src="@Url.Content("~/Media/images/dashboard_01.png")" width="46" height="44" alt=""></td>
        <td>
            <div id="dashboardtext"><a href="@Url.Content("~/PartnerInfo/Registration")">ADATLAP / MÓDOSÍTÁS</a></div>
            <!-- <img src="@Url.Content("~/Media/images/dashboard_02.png")" width="234" height="44" alt=""> --></td>
        <td>
            <img src="@Url.Content("~/Media/images/dashboard_03.png")" width="44" height="44" alt=""></td>
        <td>
            <div id="dashboardtext"><a href="#">JELSZÓVÁLTOZTATÁS</a></div>
            <div id="changepass">
                jelszóváltoztatás form helye
            </div>
            <!-- <img src="@Url.Content("~/Media/images/dashboard_04.png")" width="246" height="44" alt=""> --></td>
    </tr>
    <tr>
        <td>
            <img src="@Url.Content("~/Media/images/dashboard_05.png")" width="46" height="56" alt=""></td>
        <td>
            <img src="@Url.Content("~/Media/images/dashboard_06.png")" width="234" height="56" alt=""></td>
        <td>
            <img src="@Url.Content("~/Media/images/dashboard_07.png")" width="44" height="56" alt=""></td>
        <td>
            <!-- <img src="@Url.Content("~/Media/images/dashboard_08.png")" width="246" height="56" alt=""> --></td>
    </tr>
    <tr>
        <td>
            <img src="@Url.Content("~/Media/images/dashboard_09.png")" width="46" height="44" alt=""></td>
        <td>
            <div id="dashboardtext"><a href="#">SZÁMLÁK</a></div>
            <!-- <img src="@Url.Content("~/Media/images/dashboard_10.png")" width="234" height="44" alt=""> --></td>
        <td>
            <img src="@Url.Content("~/Media/images/dashboard_11.png")" width="44" height="44" alt=""></td>
        <td>
            <div id="dashboardtext"><a href="#">MEGRENDELÉSEK</a></div>
           <!--  <img src="@Url.Content("~/Media/images/dashboard_12.png")" width="246" height="44" alt=""> --></td>
    </tr>
    <tr>
        <td>
            <img src="@Url.Content("~/Media/images/dashboard_13.png")" width="46" height="52" alt=""></td>
        <td>
            <img src="@Url.Content("~/Media/images/dashboard_14.png")" width="234" height="52" alt=""></td>
        <td>
            <img src="@Url.Content("~/Media/images/dashboard_15.png")" width="44" height="52" alt=""></td>
        <td>
            <!-- <img src="@Url.Content("~/Media/images/dashboard_16.png")" width="246" height="52" alt=""> --></td>
    </tr>
    <tr>
        <td>
            <img src="@Url.Content("~/Media/images/dashboard_17.png")" width="46" height="45" alt=""></td>
        <td>
            <div id="dashboardtext"><a href="#">RENDSZERÜZENETEK</a></div>
            <!-- <img src="@Url.Content("~/Media/images/dashboard_18.png")" width="234" height="45" alt=""> --></td>
        <td>
            <!-- <img src="@Url.Content("~/Media/images/dashboard_19.png")" width="44" height="45" alt=""> --></td>
        <td>
            <!-- <img src="@Url.Content("~/Media/images/dashboard_20.png")" width="246" height="45" alt=""></td> -->
    </tr>
</table>